In [178]:
from pymongo import MongoClient
from bs4 import BeautifulSoup
import requests
import pandas as pd

client = MongoClient('localhost', 27017)
yelp = client['yelp']
restaurants = yelp['restaurants']
processed = yelp['processed']
users = yelp['users']

In [179]:
restaurants_df = pd.DataFrame(list(restaurants.find()))
restaurants_df

,_id,title,image_url,url,price,stars,reviewCount,phone,address,neighborhood,...,caters,smoking,dancing,wheelchair,coat,meal,groups,happy_hour_sp,noise_level,alcohol
0,5e4da0fa3296483cf9246cdd,Atlas Tap Room,https://s3-media0.fl.yelpcdn.com/bphoto/Z9FNtP...,https://www.yelp.com/biz/atlas-tap-room-san-fr...,2.0,4.0,186,(415) 308-5806,606 Mission St,Financial District,...,1.0,0.0,0.0,1.0,0.0,"Lunch, Dinner",1.0,1.0,Average,Beer & Wine Only
1,5e4da15f3296483cf9246cde,Fog Harbor Fish House,https://s3-media0.fl.yelpcdn.com/bphoto/Lv7tIR...,https://www.yelp.com/biz/fog-harbor-fish-house...,2.0,4.0,6006,(415) 421-2442,Pier 39,Fisherman's Wharf,...,0.0,0.0,0.0,1.0,0.0,"Lunch, Dinner",1.0,1.0,Average,Full Bar
2,5e4da21d3296483cf9246cdf,The House,https://s3-media0.fl.yelpcdn.com/bphoto/UzrNIk...,https://www.yelp.com/biz/the-house-san-francis...,3.0,4.5,4821,(415) 986-8612,1230 Grant Ave,North Beach/Telegraph Hill,...,0.0,NaN,NaN,0.0,NaN,Dinner,0.0,NaN,Average,Beer & Wine Only
3,5e4da2bc3296483cf9246ce0,Marufuku Ramen SF,https://s3-media0.fl.yelpcdn.com/bphoto/2lUFO5...,https://www.yelp.com/biz/marufuku-ramen-sf-san...,2.0,4.5,2918,(415) 872-9786,Located in Japan Center,Lower Pacific Heights,...,0.0,NaN,NaN,1.0,NaN,"Lunch, Dinner",1.0,NaN,Average,Beer & Wine Only
4,5e4da37a3296483cf9246ce1,Zazie,https://s3-media0.fl.yelpcdn.com/bphoto/uuRvEU...,https://www.yelp.com/biz/zazie-san-francisco?o...,2.0,4.0,4371,(415) 564-5332,941 Cole St,Cole Valley,...,0.0,NaN,NaN,NaN,NaN,"Breakfast, Brunch",1.0,NaN,Average,Beer & Wine Only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,5e52e7f33296483cf9246f4c,Amarena,https://s3-media0.fl.yelpcdn.com/bphoto/e-cdz4...,https://www.yelp.com/biz/amarena-san-francisco...,2.0,4.0,580,(415) 447-0441,2162 Larkin St,Russian Hill,...,0.0,NaN,NaN,NaN,NaN,Dinner,1.0,1.0,Average,Beer & Wine Only
548,5e52e8d53296483cf9246f4d,Saru Sushi Bar,https://s3-media0.fl.yelpcdn.com/bphoto/5-ugy0...,https://www.yelp.com/biz/saru-sushi-bar-san-fr...,3.0,4.5,838,(415) 400-4510,3856 24th St,Noe Valley,...,0.0,NaN,NaN,NaN,NaN,Dinner,0.0,NaN,Average,Beer & Wine Only
549,5e52e93f3296483cf9246f4e,a Mano,https://s3-media0.fl.yelpcdn.com/bphoto/ezG_zJ...,https://www.yelp.com/biz/a-mano-san-francisco-...,2.0,4.0,881,(415) 506-7401,450 Hayes St,Hayes Valley,...,0.0,0.0,0.0,1.0,0.0,Dinner,1.0,NaN,Loud,Full Bar
550,5e52ea033296483cf9246f4f,Tacko,https://s3-media0.fl.yelpcdn.com/bphoto/7VdJnp...,https://www.yelp.com/biz/tacko-san-francisco?o...,2.0,4.0,780,(415) 796-3534,3115 Fillmore St,Marina/Cow Hollow,...,1.0,NaN,NaN,NaN,NaN,"Lunch, Dinner",1.0,1.0,Loud,Beer & Wine Only
551,5e52eb303296483cf9246f51,Glaze Teriyaki,https://s3-media0.fl.yelpcdn.com/bphoto/jsEY1J...,https://www.yelp.com/biz/glaze-teriyaki-san-fr...,2.0,4.0,463,(415) 590-2199,1946 Fillmore St,Lower Pacific Heights,...,1.0,NaN,NaN,NaN,NaN,"Lunch, Dinner",1.0,NaN,Average,Beer & Wine Only

In [180]:
restaurants_df.to_csv('data/restaurants.csv', ",")

In [166]:
restaurants_df[restaurants_df.duplicated(['title'])]

Empty DataFrame
Columns: [_id, title, image_url, url, price, stars, reviewCount, phone, address, neighborhood, cuisines, city, state, zipcode, health_score, ambience, reservations, take_out, apple_pay, bike_parking, happy_hour, wifi, dogs, drive_thru, vegan_options, delivery, credit_cards, google_pay, parking, kids, outdoor_seating, tv, waiter_service, caters, smoking, dancing, wheelchair, coat, meal, groups, happy_hour_sp, noise_level, alcohol]
Index: []

[0 rows x 43 columns]

In [181]:
user_reviews_df = pd.DataFrame(list(users.find()))
user_reviews_df

,_id,userid,restaurant_id,name,url,city,state,friends,reviews,photos,stars,date,review,Useful,Funny,Cool
0,5e4f3ec0113cd26d51aed4fd,HhviuVbs2O9HicrR8J53ug,5e4da0fa3296483cf9246cdd,Jessica P.,https://www.yelp.com/user_details?userid=Hhviu...,Vallejo,CA,189,16,33,5.0,2/4/2020,this place is the best!!No matter which item I...,0,0,1
1,5e4f3ec0113cd26d51aed4fe,0nRiYn9sxe48jsJigPLYoA,5e4da0fa3296483cf9246cdd,Anissa B.,https://www.yelp.com/user_details?userid=0nRiY...,San Bernardino,CA,420,34,NaN,3.0,12/24/2019,"In town for a brief visit, this was the closes...",0,0,0
2,5e4f3ec0113cd26d51aed4ff,wN_4sCk1dyzWvA9snDP-BA,5e4da0fa3296483cf9246cdd,Tyler D.,https://www.yelp.com/user_details?userid=wN_4s...,Atlanta,GA,0,7,NaN,2.0,12/21/2019,Second time here. Atmosphere was great to sta...,0,0,0
3,5e4f3ec0113cd26d51aed500,MUwPT6c_4bh6aMmyo_JTog,5e4da0fa3296483cf9246cdd,Nick M.,https://www.yelp.com/user_details?userid=MUwPT...,Dallas,TX,334,219,519,2.0,,Came here to meet an old friend and had a very...,2,2,2
4,5e4f3ec0113cd26d51aed501,HCTZ0HdNMn4WuyDkxshCDg,5e4da0fa3296483cf9246cdd,Christina L.,https://www.yelp.com/user_details?userid=HCTZ0...,Vacaville,CA,2,10,5,5.0,2/17/2020,Came here for a late lunch/early dinner on our...,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174920,5e52ebca113cd26d51b156ee,zIDUDgoHsfvsi8oS8QlgIA,5e4e22ce3296483cf9246d4c,Jodie B.,https://www.yelp.com/user_details?userid=zIDUD...,Brooklyn,NY,173,395,12,4.0,3/11/2011,Sweet host who could be anyone's uncle: 6/5Ger...,0,0,0
174921,5e52ebca113cd26d51b156ef,Yc2ihJ2YYdCNVD4NE5kW9A,5e4e22ce3296483cf9246d4c,C C.,https://www.yelp.com/user_details?userid=Yc2ih...,Vancouver,Canada,0,16,2,5.0,10/25/2015,Fantastic food. Great beer. Amazing strudel. B...,0,0,0
174922,5e52ebca113cd26d51b156f0,_TbQ5yv_U5COLgRfWtYPNQ,5e4e22ce3296483cf9246d4c,Jenn Q.,https://www.yelp.com/user_details?userid=_TbQ5...,San Francisco,CA,31,17,2,5.0,3/14/2012,DAS BOOTI love love this place! Came here for...,0,0,0
174923,5e52ebca113cd26d51b156f1,ZLVaLX6E4olh6h5o6ihjLA,5e4e22ce3296483cf9246d4c,Alex W.,https://www.yelp.com/user_details?userid=ZLVaL...,Chattanooga,TN,223,131,87,4.0,4/11/2011,I met friends at Leopold's at 5:30 on a sunday...,0,0,0
174924,5e52ebca113cd26d51b156f2,nAlQUNEtVh00-2XY7Vp2fA,5e4e22ce3296483cf9246d4c,Tracey K.,https://www.yelp.com/user_details?userid=nAlQU...,San Francisco,CA,0,67,3,3.0,10/20/2015,I understand the appeal of drinking beer out o...,0,0,0

In [107]:
from bson import ObjectId
user_reviews_df[user_reviews_df['restaurant_id'] == ObjectId('5e500cd33296483cf9246ec3')]

Empty DataFrame
Columns: [_id, userid, restaurant_id, name, url, city, state, friends, reviews, photos, stars, date, review, Useful, Funny, Cool]
Index: []

In [169]:
user_reviews_df[user_reviews_df.duplicated(['review', 'name'])]

,_id,userid,restaurant_id,name,url,city,state,friends,reviews,photos,stars,date,review,Useful,Funny,Cool
163714,5e50e024993c3d0d0466a78c,rykJeNgfgoi6f4w6sobq0g,5e4e178a3296483cf9246d40,Terry M.,https://www.yelp.com/user_details?userid=rykJe...,San Francisco,CA,0,7,NaN,0.0,12/28/2018,We love their Market ST location. I have given...,0,0,0
165491,5e50eb71993c3d0d0466ae7e,_xUpTh2Cd7DNY3qwa4lLag,5e4e18563296483cf9246d41,Michelle C.,https://www.yelp.com/user_details?userid=_xUpT...,Mountain View,CA,2,6,4,0.0,4/27/2019,Worth the wait! My boyfriend and I got a cup o...,0,0,0
169840,5e517812993c3d0d0466bf7c,MMZIIpOEnbHi7Yu5vItRiQ,5e4e18d83296483cf9246d42,Cat B.,https://www.yelp.com/user_details?userid=MMZII...,Mercer Island,WA,1,16,NaN,0.0,12/20/2010,This review is for both Nopalito and Nopa cate...,1,0,2
172703,5e51cf5f4464a2e5fac9e000,bKrnssMf28B6v63EkJPtLw,5e4e20ad3296483cf9246d49,Juliette S.,https://www.yelp.com/user_details?userid=bKrns...,Petaluma,CA,191,3,3,5.0,11/14/2018,Have you ever heard of millionaires bacon? No?...,2,2,1

In [182]:
user_att = ['userid', 'name', 'url', 'city', 'state', 'friends', 'reviews', 'photos']
user = {}
for att in user_att:
    user[att] = user_reviews_df[att]


users_df = pd.DataFrame(user)
users_df

,userid,name,url,city,state,friends,reviews,photos
0,HhviuVbs2O9HicrR8J53ug,Jessica P.,https://www.yelp.com/user_details?userid=Hhviu...,Vallejo,CA,189,16,33
1,0nRiYn9sxe48jsJigPLYoA,Anissa B.,https://www.yelp.com/user_details?userid=0nRiY...,San Bernardino,CA,420,34,NaN
2,wN_4sCk1dyzWvA9snDP-BA,Tyler D.,https://www.yelp.com/user_details?userid=wN_4s...,Atlanta,GA,0,7,NaN
3,MUwPT6c_4bh6aMmyo_JTog,Nick M.,https://www.yelp.com/user_details?userid=MUwPT...,Dallas,TX,334,219,519
4,HCTZ0HdNMn4WuyDkxshCDg,Christina L.,https://www.yelp.com/user_details?userid=HCTZ0...,Vacaville,CA,2,10,5
...,...,...,...,...,...,...,...,...
174920,zIDUDgoHsfvsi8oS8QlgIA,Jodie B.,https://www.yelp.com/user_details?userid=zIDUD...,Brooklyn,NY,173,395,12
174921,Yc2ihJ2YYdCNVD4NE5kW9A,C C.,https://www.yelp.com/user_details?userid=Yc2ih...,Vancouver,Canada,0,16,2
174922,_TbQ5yv_U5COLgRfWtYPNQ,Jenn Q.,https://www.yelp.com/user_details?userid=_TbQ5...,San Francisco,CA,31,17,2
174923,ZLVaLX6E4olh6h5o6ihjLA,Alex W.,https://www.yelp.com/user_details?userid=ZLVaL...,Chattanooga,TN,223,131,87
174924,nAlQUNEtVh00-2XY7Vp2fA,Tracey K.,https://www.yelp.com/user_details?userid=nAlQU...,San Francisco,CA,0,67,3

In [183]:
users_df[users_df.duplicated(['userid'])]

,userid,name,url,city,state,friends,reviews,photos
236,djxnI8Ux8ZYQJhiOQkrRhA,Abby S.,https://www.yelp.com/user_details?userid=djxnI...,Denver,CO,4028,2346,6677
434,lLfcbYGTeVxQN5Ig0ompJg,Elena N.,https://www.yelp.com/user_details?userid=lLfcb...,San Francisco,CA,1774,3198,13534
1246,gqDbe1YwS4EhuCCNSNhpxg,Elizabeth G.,https://www.yelp.com/user_details?userid=gqDbe...,San Francisco,CA,256,360,62
1926,wEE-YMx5pmSuagLtNxMPKA,Stephanie Y.,https://www.yelp.com/user_details?userid=wEE-Y...,Berkeley,CA,4936,1866,3659
2181,adKonsQWY64vJYglPotH5Q,Stefanie C.,https://www.yelp.com/user_details?userid=adKon...,Denver,CO,952,2225,1287
...,...,...,...,...,...,...,...,...
174915,akmzZ87dhGitfq_c600cQw,Stella L.,https://www.yelp.com/user_details?userid=akmzZ...,San Francisco,CA,31,91,19
174918,XkYE04GqIqibnQ2XE4qy2g,Tammy L.,https://www.yelp.com/user_details?userid=XkYE0...,Emeryville,CA,25,50,NaN
174920,zIDUDgoHsfvsi8oS8QlgIA,Jodie B.,https://www.yelp.com/user_details?userid=zIDUD...,Brooklyn,NY,173,395,12
174923,ZLVaLX6E4olh6h5o6ihjLA,Alex W.,https://www.yelp.com/user_details?userid=ZLVaL...,Chattanooga,TN,223,131,87
174924,nAlQUNEtVh00-2XY7Vp2fA,Tracey K.,https://www.yelp.com/user_details?userid=nAlQU...,San Francisco,CA,0,67,3

In [184]:
users_df.drop_duplicates(inplace=True)

In [185]:
users_df

,userid,name,url,city,state,friends,reviews,photos
0,HhviuVbs2O9HicrR8J53ug,Jessica P.,https://www.yelp.com/user_details?userid=Hhviu...,Vallejo,CA,189,16,33
1,0nRiYn9sxe48jsJigPLYoA,Anissa B.,https://www.yelp.com/user_details?userid=0nRiY...,San Bernardino,CA,420,34,NaN
2,wN_4sCk1dyzWvA9snDP-BA,Tyler D.,https://www.yelp.com/user_details?userid=wN_4s...,Atlanta,GA,0,7,NaN
3,MUwPT6c_4bh6aMmyo_JTog,Nick M.,https://www.yelp.com/user_details?userid=MUwPT...,Dallas,TX,334,219,519
4,HCTZ0HdNMn4WuyDkxshCDg,Christina L.,https://www.yelp.com/user_details?userid=HCTZ0...,Vacaville,CA,2,10,5
...,...,...,...,...,...,...,...,...
174916,AYbLkgSSx9Q0XgC0hA6urA,Dave C.,https://www.yelp.com/user_details?userid=AYbLk...,Rancho Mirage,CA,0,63,NaN
174917,bqzWCjezS-V8YpMmDe0l9Q,Scott W.,https://www.yelp.com/user_details?userid=bqzWC...,Concord,CA,13,14,13
174919,64e5uBEC2Qt77Fe66x9_Mg,L K.,https://www.yelp.com/user_details?userid=64e5u...,Brisbane,CA,1,42,75
174921,Yc2ihJ2YYdCNVD4NE5kW9A,C C.,https://www.yelp.com/user_details?userid=Yc2ih...,Vancouver,Canada,0,16,2
174922,_TbQ5yv_U5COLgRfWtYPNQ,Jenn Q.,https://www.yelp.com/user_details?userid=_TbQ5...,San Francisco,CA,31,17,2

In [186]:
reviews_att = ['userid', 'restaurant_id', 'review', 'date', 'stars', 'Useful', 'Funny', 'Cool']
reviews = {}
for att in reviews_att:
    reviews[att] = user_reviews_df[att]


reviews_df = pd.DataFrame(reviews)

In [177]:
unique_rest = reviews_df[reviews_df['stars'] == 0]['restaurant_id'].unique()

array([ObjectId('5e4de92f3296483cf9246d27'),
       ObjectId('5e4de9ec3296483cf9246d28'),
       ObjectId('5e4decec3296483cf9246d2a'),
       ObjectId('5e4ded6e3296483cf9246d2b'),
       ObjectId('5e4dee0e3296483cf9246d2c'),
       ObjectId('5e4dee903296483cf9246d2d'),
       ObjectId('5e4def133296483cf9246d2e'),
       ObjectId('5e4df00c3296483cf9246d2f'),
       ObjectId('5e4df10f3296483cf9246d30'),
       ObjectId('5e4df1373296483cf9246d31'),
       ObjectId('5e4df2123296483cf9246d32'),
       ObjectId('5e4df2ad3296483cf9246d33'),
       ObjectId('5e4df32f3296483cf9246d34'),
       ObjectId('5e4dfaba3296483cf9246d35'),
       ObjectId('5e4e11033296483cf9246d36'),
       ObjectId('5e4e11e03296483cf9246d37'),
       ObjectId('5e4e12d93296483cf9246d38'),
       ObjectId('5e4e13b63296483cf9246d39'),
       ObjectId('5e4e14753296483cf9246d3a'),
       ObjectId('5e4e14bb3296483cf9246d3b'),
       ObjectId('5e4e15413296483cf9246d3c'),
       ObjectId('5e4e16273296483cf9246d3e'),
       ObjectId('5e4e16e53296483cf9246d3f'),
       ObjectId('5e4e178a3296483cf9246d40'),
       ObjectId('5e4e18563296483cf9246d41'),
       ObjectId('5e4e18d83296483cf9246d42'),
       ObjectId('5e4e1a143296483cf9246d43')], dtype=object)

In [187]:
users_df.to_csv('data/users.csv', ",")
reviews_df.to_csv('data/reviews.csv', ",")