In [229]:
from pymongo import MongoClient
from bs4 import BeautifulSoup
import requests
import pandas as pd

client = MongoClient('localhost', 27017)
yelp = client['yelp']
restaurants = yelp['restaurants']
processed = yelp['processed']
users = yelp['users']

In [230]:
restaurants_df = pd.DataFrame(list(restaurants.find()))
restaurants_df

,_id,title,image_url,url,price,stars,reviewCount,phone,address,neighborhood,...,smoking,dancing,wheelchair,coat,meal,groups,happy_hour_sp,noise_level,alcohol,description
0,5e4da0fa3296483cf9246cdd,Atlas Tap Room,https://s3-media0.fl.yelpcdn.com/bphoto/Z9FNtP...,https://www.yelp.com/biz/atlas-tap-room-san-fr...,2.0,4.0,186,(415) 308-5806,606 Mission St,Financial District,...,0.0,0.0,1.0,0.0,"Lunch, Dinner",1.0,1.0,Average,Beer & Wine Only,We specialize in serving craft brews and wines...
1,5e4da15f3296483cf9246cde,Fog Harbor Fish House,https://s3-media0.fl.yelpcdn.com/bphoto/Lv7tIR...,https://www.yelp.com/biz/fog-harbor-fish-house...,2.0,4.0,6006,(415) 421-2442,Pier 39,Fisherman's Wharf,...,0.0,0.0,1.0,0.0,"Lunch, Dinner",1.0,1.0,Average,Full Bar,"Award winning view of the Golden Gate Bridge, ..."
2,5e4da21d3296483cf9246cdf,The House,https://s3-media0.fl.yelpcdn.com/bphoto/UzrNIk...,https://www.yelp.com/biz/the-house-san-francis...,3.0,4.5,4821,(415) 986-8612,1230 Grant Ave,North Beach/Telegraph Hill,...,NaN,NaN,0.0,NaN,Dinner,0.0,NaN,Average,Beer & Wine Only,
3,5e4da2bc3296483cf9246ce0,Marufuku Ramen SF,https://s3-media0.fl.yelpcdn.com/bphoto/2lUFO5...,https://www.yelp.com/biz/marufuku-ramen-sf-san...,2.0,4.5,2918,(415) 872-9786,Located in Japan Center,Lower Pacific Heights,...,NaN,NaN,1.0,NaN,"Lunch, Dinner",1.0,NaN,Average,Beer & Wine Only,
4,5e4da37a3296483cf9246ce1,Zazie,https://s3-media0.fl.yelpcdn.com/bphoto/uuRvEU...,https://www.yelp.com/biz/zazie-san-francisco?o...,2.0,4.0,4371,(415) 564-5332,941 Cole St,Cole Valley,...,NaN,NaN,NaN,NaN,"Breakfast, Brunch",1.0,NaN,Average,Beer & Wine Only,"Zazie serves brunch and dinner daily, every da..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
645,5e543ed73296483cf9246fc2,Bistro Boudin,https://s3-media0.fl.yelpcdn.com/bphoto/hE31Em...,https://www.yelp.com/biz/bistro-boudin-san-fra...,2.0,3.5,880,(415) 351-5561,160 Jefferson St,Fisherman's Wharf,...,NaN,NaN,NaN,NaN,"Lunch, Dinner",1.0,1.0,Average,Full Bar,
646,5e54408a3296483cf9246fc3,Cellarmaker House of Pizza,https://s3-media0.fl.yelpcdn.com/bphoto/DPMkkR...,https://www.yelp.com/biz/cellarmaker-house-of-...,2.0,4.0,136,(415) 296-6351,3193 Mission St,Bernal Heights,...,NaN,NaN,NaN,NaN,None,0.0,NaN,None,Beer & Wine Only,
647,5e5440b83296483cf9246fc4,Panchitas Pupuseria,https://s3-media0.fl.yelpcdn.com/bphoto/gkJtRQ...,https://www.yelp.com/biz/panchitas-pupuseria-s...,2.0,4.0,43,(415) 913-7273,530 Valencia St,Mission,...,NaN,NaN,NaN,NaN,None,NaN,NaN,None,None,
648,5e54421c3296483cf9246fc5,Sunflower Vietnamese Restaurant,https://s3-media0.fl.yelpcdn.com/bphoto/aH9mo3...,https://www.yelp.com/biz/sunflower-vietnamese-...,2.0,3.5,772,(415) 861-2336,288 Connecticut St,Potrero Hill,...,NaN,NaN,NaN,NaN,"Lunch, Dinner",1.0,NaN,Average,Beer & Wine Only,
649,5e5442e03296483cf9246fc6,Little Skillet,https://s3-media0.fl.yelpcdn.com/bphoto/bwaYuz...,https://www.yelp.com/biz/little-skillet-san-fr...,2.0,3.5,1989,(415) 777-2777,360 Ritch St,Mission Bay,...,NaN,NaN,NaN,NaN,Lunch,1.0,1.0,Average,Full Bar,

In [197]:
restaurants_df.to_csv('data/restaurants.csv', ",")

In [231]:
restaurants_df[restaurants_df.duplicated(['title'])]

Empty DataFrame
Columns: [_id, title, image_url, url, price, stars, reviewCount, phone, address, neighborhood, cuisines, city, state, zipcode, health_score, ambience, reservations, take_out, apple_pay, bike_parking, happy_hour, wifi, dogs, drive_thru, vegan_options, delivery, credit_cards, google_pay, parking, kids, outdoor_seating, tv, waiter_service, caters, smoking, dancing, wheelchair, coat, meal, groups, happy_hour_sp, noise_level, alcohol, description]
Index: []

[0 rows x 44 columns]

In [210]:
restaurants_condensed = pd.DataFrame({'title': restaurants_df['title'], 'reviewCount': restaurants_df['reviewCount']})
restaurants_condensed.sort_values(by=['reviewCount'], ascending=False, inplace=True)
restaurants_condensed

                         title  reviewCount
35   Brenda’s French Soul Food        10959
156      Tartine Bakery & Cafe         7853
131         House Of Prime Rib         7143
28                    San Tung         6815
23             Burma Superstar         6743
..                         ...          ...
428             The Mango Tree            8
325                 Dokkaebier            7
350               Son & Garden            5
370                     CreoLa            3
330                  Aroy Thai            3

[562 rows x 2 columns]

In [232]:
user_reviews_df = pd.DataFrame(list(users.find()))
user_reviews_df

,_id,userid,restaurant_id,name,url,city,state,friends,reviews,photos,stars,date,review,Useful,Funny,Cool
0,5e4f3ec0113cd26d51aed4fd,HhviuVbs2O9HicrR8J53ug,5e4da0fa3296483cf9246cdd,Jessica P.,https://www.yelp.com/user_details?userid=Hhviu...,Vallejo,CA,189,16,33,5.0,2/4/2020,this place is the best!!No matter which item I...,0,0,1
1,5e4f3ec0113cd26d51aed4fe,0nRiYn9sxe48jsJigPLYoA,5e4da0fa3296483cf9246cdd,Anissa B.,https://www.yelp.com/user_details?userid=0nRiY...,San Bernardino,CA,420,34,NaN,3.0,12/24/2019,"In town for a brief visit, this was the closes...",0,0,0
2,5e4f3ec0113cd26d51aed4ff,wN_4sCk1dyzWvA9snDP-BA,5e4da0fa3296483cf9246cdd,Tyler D.,https://www.yelp.com/user_details?userid=wN_4s...,Atlanta,GA,0,7,NaN,2.0,12/21/2019,Second time here. Atmosphere was great to sta...,0,0,0
3,5e4f3ec0113cd26d51aed500,MUwPT6c_4bh6aMmyo_JTog,5e4da0fa3296483cf9246cdd,Nick M.,https://www.yelp.com/user_details?userid=MUwPT...,Dallas,TX,334,219,519,2.0,,Came here to meet an old friend and had a very...,2,2,2
4,5e4f3ec0113cd26d51aed501,HCTZ0HdNMn4WuyDkxshCDg,5e4da0fa3296483cf9246cdd,Christina L.,https://www.yelp.com/user_details?userid=HCTZ0...,Vacaville,CA,2,10,5,5.0,2/17/2020,Came here for a late lunch/early dinner on our...,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194535,5e544475113cd26d51b1a39b,QemJbqYzbasjXnMbuy4xOw,5e4e2ee53296483cf9246d5a,Sara L.,https://www.yelp.com/user_details?userid=QemJb...,San Francisco,CA,286,304,206,3.0,3/1/2017,There are so many great restaurants in the cit...,16,10,10
194536,5e544475113cd26d51b1a39c,LlGZ273XdpNyo3lg5IfKvA,5e4e2ee53296483cf9246d5a,Shannon B.,https://www.yelp.com/user_details?userid=LlGZ2...,Jingletown,Oakland,4,136,1,4.0,7/16/2018,"A solid four stars. Lots of wonderful dishes,...",0,0,0
194537,5e544475113cd26d51b1a39d,rNX6sZK_dfM6xZrM15PhkQ,5e4e2ee53296483cf9246d5a,Samantha E.,https://www.yelp.com/user_details?userid=rNX6s...,San Francisco,CA,172,120,19,5.0,7/6/2018,I can't even express how ecstatic my friend an...,0,0,0
194538,5e544475113cd26d51b1a39e,uTDxT-lAVI31gBg9Fgz8hQ,5e4e2ee53296483cf9246d5a,Nick K.,https://www.yelp.com/user_details?userid=uTDxT...,San Francisco,CA,486,679,62,2.0,4/8/2016,"Some interesting dishes, albeit very expensive...",3,2,1
194539,5e544475113cd26d51b1a39f,XlCt3TTFkzxCZ5nHz1tPGQ,5e4e2ee53296483cf9246d5a,Perla N.,https://www.yelp.com/user_details?userid=XlCt3...,Palo Alto,CA,199,120,3,4.0,8/7/2017,"Great service - friendly, informal but prompt....",1,0,0

In [107]:
from bson import ObjectId
user_reviews_df[user_reviews_df['restaurant_id'] == ObjectId('5e500cd33296483cf9246ec3')]

Empty DataFrame
Columns: [_id, userid, restaurant_id, name, url, city, state, friends, reviews, photos, stars, date, review, Useful, Funny, Cool]
Index: []

In [233]:
user_reviews_df[user_reviews_df.duplicated(['review', 'name'])]

Empty DataFrame
Columns: [_id, userid, restaurant_id, name, url, city, state, friends, reviews, photos, stars, date, review, Useful, Funny, Cool]
Index: []

In [199]:
user_att = ['userid', 'name', 'url', 'city', 'state', 'friends', 'reviews', 'photos']
user = {}
for att in user_att:
    user[att] = user_reviews_df[att]


users_df = pd.DataFrame(user)
users_df

,userid,name,url,city,state,friends,reviews,photos
0,HhviuVbs2O9HicrR8J53ug,Jessica P.,https://www.yelp.com/user_details?userid=Hhviu...,Vallejo,CA,189,16,33
1,0nRiYn9sxe48jsJigPLYoA,Anissa B.,https://www.yelp.com/user_details?userid=0nRiY...,San Bernardino,CA,420,34,NaN
2,wN_4sCk1dyzWvA9snDP-BA,Tyler D.,https://www.yelp.com/user_details?userid=wN_4s...,Atlanta,GA,0,7,NaN
3,MUwPT6c_4bh6aMmyo_JTog,Nick M.,https://www.yelp.com/user_details?userid=MUwPT...,Dallas,TX,334,219,519
4,HCTZ0HdNMn4WuyDkxshCDg,Christina L.,https://www.yelp.com/user_details?userid=HCTZ0...,Vacaville,CA,2,10,5
...,...,...,...,...,...,...,...,...
175262,m2Mg99PhKztYgYufaewbng,Katie Y.,https://www.yelp.com/user_details?userid=m2Mg9...,San Francisco,CA,422,408,1263
175263,e6NW_v7dhEzJLy0U1aOD7g,Dom N.,https://www.yelp.com/user_details?userid=e6NW_...,San Francisco,CA,16,59,49
175264,VwMjcjD7YhuzFUr4wy7Fjg,Michael P.,https://www.yelp.com/user_details?userid=VwMjc...,West Covina,CA,39,151,287
175265,y-pEaBBRS7z0yyen2JmOQw,Chan Z.,https://www.yelp.com/user_details?userid=y-pEa...,San Francisco,CA,10,20,8
175266,_yc-WScJHpyMXT4s7Khj1A,Brian C C.,https://www.yelp.com/user_details?userid=_yc-W...,San Francisco,CA,190,4,NaN

In [183]:
users_df[users_df.duplicated(['userid'])]

,userid,name,url,city,state,friends,reviews,photos
236,djxnI8Ux8ZYQJhiOQkrRhA,Abby S.,https://www.yelp.com/user_details?userid=djxnI...,Denver,CO,4028,2346,6677
434,lLfcbYGTeVxQN5Ig0ompJg,Elena N.,https://www.yelp.com/user_details?userid=lLfcb...,San Francisco,CA,1774,3198,13534
1246,gqDbe1YwS4EhuCCNSNhpxg,Elizabeth G.,https://www.yelp.com/user_details?userid=gqDbe...,San Francisco,CA,256,360,62
1926,wEE-YMx5pmSuagLtNxMPKA,Stephanie Y.,https://www.yelp.com/user_details?userid=wEE-Y...,Berkeley,CA,4936,1866,3659
2181,adKonsQWY64vJYglPotH5Q,Stefanie C.,https://www.yelp.com/user_details?userid=adKon...,Denver,CO,952,2225,1287
...,...,...,...,...,...,...,...,...
174915,akmzZ87dhGitfq_c600cQw,Stella L.,https://www.yelp.com/user_details?userid=akmzZ...,San Francisco,CA,31,91,19
174918,XkYE04GqIqibnQ2XE4qy2g,Tammy L.,https://www.yelp.com/user_details?userid=XkYE0...,Emeryville,CA,25,50,NaN
174920,zIDUDgoHsfvsi8oS8QlgIA,Jodie B.,https://www.yelp.com/user_details?userid=zIDUD...,Brooklyn,NY,173,395,12
174923,ZLVaLX6E4olh6h5o6ihjLA,Alex W.,https://www.yelp.com/user_details?userid=ZLVaL...,Chattanooga,TN,223,131,87
174924,nAlQUNEtVh00-2XY7Vp2fA,Tracey K.,https://www.yelp.com/user_details?userid=nAlQU...,San Francisco,CA,0,67,3

In [234]:
users_df.drop_duplicates(inplace=True)

In [235]:
users_df

,userid,name,url,city,state,friends,reviews,photos
0,HhviuVbs2O9HicrR8J53ug,Jessica P.,https://www.yelp.com/user_details?userid=Hhviu...,Vallejo,CA,189,16,33
1,0nRiYn9sxe48jsJigPLYoA,Anissa B.,https://www.yelp.com/user_details?userid=0nRiY...,San Bernardino,CA,420,34,NaN
2,wN_4sCk1dyzWvA9snDP-BA,Tyler D.,https://www.yelp.com/user_details?userid=wN_4s...,Atlanta,GA,0,7,NaN
3,MUwPT6c_4bh6aMmyo_JTog,Nick M.,https://www.yelp.com/user_details?userid=MUwPT...,Dallas,TX,334,219,519
4,HCTZ0HdNMn4WuyDkxshCDg,Christina L.,https://www.yelp.com/user_details?userid=HCTZ0...,Vacaville,CA,2,10,5
...,...,...,...,...,...,...,...,...
175260,Wj3j0XYNgyPibKOxhz72Pg,Ken M.,https://www.yelp.com/user_details?userid=Wj3j0...,San Francisco,CA,18,43,10
175263,e6NW_v7dhEzJLy0U1aOD7g,Dom N.,https://www.yelp.com/user_details?userid=e6NW_...,San Francisco,CA,16,59,49
175264,VwMjcjD7YhuzFUr4wy7Fjg,Michael P.,https://www.yelp.com/user_details?userid=VwMjc...,West Covina,CA,39,151,287
175265,y-pEaBBRS7z0yyen2JmOQw,Chan Z.,https://www.yelp.com/user_details?userid=y-pEa...,San Francisco,CA,10,20,8
175266,_yc-WScJHpyMXT4s7Khj1A,Brian C C.,https://www.yelp.com/user_details?userid=_yc-W...,San Francisco,CA,190,4,NaN

In [202]:
reviews_att = ['userid', 'restaurant_id', 'review', 'date', 'stars', 'Useful', 'Funny', 'Cool']
reviews = {}
for att in reviews_att:
    reviews[att] = user_reviews_df[att]


reviews_df = pd.DataFrame(reviews)

In [237]:
reviews_df[reviews_df['stars'] == 0]['restaurant_id'].unique()

array([ObjectId('5e4de92f3296483cf9246d27'),
       ObjectId('5e4de9ec3296483cf9246d28'),
       ObjectId('5e4decec3296483cf9246d2a'),
       ObjectId('5e4ded6e3296483cf9246d2b'),
       ObjectId('5e4dee0e3296483cf9246d2c'),
       ObjectId('5e4dee903296483cf9246d2d'),
       ObjectId('5e4def133296483cf9246d2e'),
       ObjectId('5e4df00c3296483cf9246d2f'),
       ObjectId('5e4df10f3296483cf9246d30'),
       ObjectId('5e4df1373296483cf9246d31'),
       ObjectId('5e4df2123296483cf9246d32'),
       ObjectId('5e4df2ad3296483cf9246d33'),
       ObjectId('5e4df32f3296483cf9246d34'),
       ObjectId('5e4dfaba3296483cf9246d35'),
       ObjectId('5e4e11033296483cf9246d36'),
       ObjectId('5e4e11e03296483cf9246d37'),
       ObjectId('5e4e12d93296483cf9246d38'),
       ObjectId('5e4e13b63296483cf9246d39'),
       ObjectId('5e4e14753296483cf9246d3a'),
       ObjectId('5e4e14bb3296483cf9246d3b'),
       ObjectId('5e4e15413296483cf9246d3c'),
       ObjectId('5e4e16273296483cf9246d3e'),
       ObjectId('5e4e16e53296483cf9246d3f'),
       ObjectId('5e4e178a3296483cf9246d40'),
       ObjectId('5e4e18563296483cf9246d41'),
       ObjectId('5e4e18d83296483cf9246d42'),
       ObjectId('5e4e1a143296483cf9246d43')], dtype=object)

In [203]:
users_df.to_csv('data/users.csv', ",")
reviews_df.to_csv('data/reviews.csv', ",")