In [260]:
from pymongo import MongoClient
from bs4 import BeautifulSoup
import requests
import pandas as pd

client = MongoClient('localhost', 27017)
yelp = client['yelp']
restaurants = yelp['restaurants']
processed = yelp['processed']
users = yelp['users']

In [261]:
restaurants_df = pd.DataFrame(list(restaurants.find()))
restaurants_df

,_id,title,image_url,url,price,stars,reviewCount,phone,address,neighborhood,...,smoking,dancing,wheelchair,coat,meal,groups,happy_hour_sp,noise_level,alcohol,description
0,5e4da0fa3296483cf9246cdd,Atlas Tap Room,https://s3-media0.fl.yelpcdn.com/bphoto/Z9FNtP...,https://www.yelp.com/biz/atlas-tap-room-san-fr...,2.0,4.0,186,(415) 308-5806,606 Mission St,Financial District,...,0.0,0.0,1.0,0.0,"Lunch, Dinner",1.0,1.0,Average,Beer & Wine Only,We specialize in serving craft brews and wines...
1,5e4da15f3296483cf9246cde,Fog Harbor Fish House,https://s3-media0.fl.yelpcdn.com/bphoto/Lv7tIR...,https://www.yelp.com/biz/fog-harbor-fish-house...,2.0,4.0,6006,(415) 421-2442,Pier 39,Fisherman's Wharf,...,0.0,0.0,1.0,0.0,"Lunch, Dinner",1.0,1.0,Average,Full Bar,"Award winning view of the Golden Gate Bridge, ..."
2,5e4da21d3296483cf9246cdf,The House,https://s3-media0.fl.yelpcdn.com/bphoto/UzrNIk...,https://www.yelp.com/biz/the-house-san-francis...,3.0,4.5,4821,(415) 986-8612,1230 Grant Ave,North Beach/Telegraph Hill,...,NaN,NaN,0.0,NaN,Dinner,0.0,NaN,Average,Beer & Wine Only,
3,5e4da2bc3296483cf9246ce0,Marufuku Ramen SF,https://s3-media0.fl.yelpcdn.com/bphoto/2lUFO5...,https://www.yelp.com/biz/marufuku-ramen-sf-san...,2.0,4.5,2918,(415) 872-9786,Located in Japan Center,Lower Pacific Heights,...,NaN,NaN,1.0,NaN,"Lunch, Dinner",1.0,NaN,Average,Beer & Wine Only,
4,5e4da37a3296483cf9246ce1,Zazie,https://s3-media0.fl.yelpcdn.com/bphoto/uuRvEU...,https://www.yelp.com/biz/zazie-san-francisco?o...,2.0,4.0,4371,(415) 564-5332,941 Cole St,Cole Valley,...,NaN,NaN,NaN,NaN,"Breakfast, Brunch",1.0,NaN,Average,Beer & Wine Only,"Zazie serves brunch and dinner daily, every da..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
706,5e547abe3296483cf9247002,PLATFORM 248,https://s3-media0.fl.yelpcdn.com/bphoto/nNG2Uu...,https://www.yelp.com/biz/platform-248-san-fran...,1.0,4.0,183,(415) 644-5294,248 9th St,SoMa,...,NaN,NaN,1.0,NaN,Yes,1.0,NaN,Average,Beer & Wine Only,
707,5e547cae3296483cf9247003,Hina Yakitori,https://s3-media0.fl.yelpcdn.com/bphoto/cQTYQF...,https://www.yelp.com/biz/hina-yakitori-san-fra...,4.0,4.0,30,(415) 757-0749,808 Divisadero St,Alamo Square,...,NaN,NaN,1.0,NaN,None,NaN,NaN,Average,Beer & Wine Only,
708,5e547d543296483cf9247004,The American Grilled Cheese Kitchen,https://s3-media0.fl.yelpcdn.com/bphoto/yK11qt...,https://www.yelp.com/biz/the-american-grilled-...,2.0,4.0,1500,(415) 243-0107,1 S Park St,South Beach,...,NaN,NaN,1.0,NaN,Lunch,1.0,NaN,Average,Beer & Wine Only,
709,5e547e923296483cf9247005,Upcider,https://s3-media0.fl.yelpcdn.com/bphoto/sMU0RL...,https://www.yelp.com/biz/upcider-san-francisco...,2.0,4.0,604,(415) 966-5730,1160 Polk St,Lower Nob Hill,...,NaN,NaN,NaN,NaN,"Dinner, Late Night",1.0,NaN,Average,Beer & Wine Only,
710,5e547f393296483cf9247006,Urban Curry Restaurant,https://s3-media0.fl.yelpcdn.com/bphoto/akZB0X...,https://www.yelp.com/biz/urban-curry-restauran...,2.0,4.0,659,(415) 677-9743,523 Broadway,Chinatown,...,NaN,NaN,1.0,NaN,Dinner,1.0,1.0,Average,Beer & Wine Only,

In [197]:
restaurants_df.to_csv('data/restaurants.csv', ",")

In [262]:
restaurants_df[restaurants_df.duplicated(['title'])]

,_id,title,image_url,url,price,stars,reviewCount,phone,address,neighborhood,...,smoking,dancing,wheelchair,coat,meal,groups,happy_hour_sp,noise_level,alcohol,description
666,5e5457a73296483cf9246fda,Sumac,https://s3-media0.fl.yelpcdn.com/bphoto/jYhXS6...,https://www.yelp.com/biz/sumac-san-francisco-4...,2.0,5.0,49,(415) 307-6141,1096 Union St,Russian Hill,...,NaN,NaN,1.0,NaN,No,NaN,NaN,None,No,
684,5e54672f3296483cf9246fec,Atlas Tap Room,https://s3-media0.fl.yelpcdn.com/bphoto/Z9FNtP...,https://www.yelp.com/adredir?ad_business_id=u1...,2.0,4.0,186,(415) 308-5806,606 Mission St,Financial District,...,0.0,0.0,1.0,0.0,"Lunch, Dinner",1.0,1.0,Average,Beer & Wine Only,
688,5e546b143296483cf9246ff0,Roam Artisan Burgers,https://s3-media0.fl.yelpcdn.com/bphoto/keTk1M...,https://www.yelp.com/biz/roam-artisan-burgers-...,2.0,4.0,1530,(415) 440-7626,1785 Union St,Marina/Cow Hollow,...,NaN,NaN,NaN,NaN,"Lunch, Dinner",1.0,NaN,Average,Beer & Wine Only,
696,5e54718c3296483cf9246ff8,Fresca,https://s3-media0.fl.yelpcdn.com/bphoto/ctY8Ke...,https://www.yelp.com/biz/fresca-san-francisco-...,2.0,3.5,283,(415) 742-5727,737 Irving St,Inner Sunset,...,NaN,NaN,1.0,NaN,"Lunch, Dinner",1.0,1.0,Average,Full Bar,
705,5e547a193296483cf9247001,Wake Cup,https://s3-media0.fl.yelpcdn.com/bphoto/rSdymY...,https://www.yelp.com/biz/wake-cup-san-francisc...,1.0,5.0,11,None,1476 Haight St,The Haight,...,NaN,NaN,1.0,NaN,None,NaN,NaN,Quiet,No,
707,5e547cae3296483cf9247003,Hina Yakitori,https://s3-media0.fl.yelpcdn.com/bphoto/cQTYQF...,https://www.yelp.com/biz/hina-yakitori-san-fra...,4.0,4.0,30,(415) 757-0749,808 Divisadero St,Alamo Square,...,NaN,NaN,1.0,NaN,None,NaN,NaN,Average,Beer & Wine Only,

In [210]:
restaurants_condensed = pd.DataFrame({'title': restaurants_df['title'], 'reviewCount': restaurants_df['reviewCount']})
restaurants_condensed.sort_values(by=['reviewCount'], ascending=False, inplace=True)
restaurants_condensed

                         title  reviewCount
35   Brenda’s French Soul Food        10959
156      Tartine Bakery & Cafe         7853
131         House Of Prime Rib         7143
28                    San Tung         6815
23             Burma Superstar         6743
..                         ...          ...
428             The Mango Tree            8
325                 Dokkaebier            7
350               Son & Garden            5
370                     CreoLa            3
330                  Aroy Thai            3

[562 rows x 2 columns]

In [244]:
user_reviews_df = pd.DataFrame(list(users.find()))
user_reviews_df

,_id,userid,restaurant_id,name,url,city,state,friends,reviews,photos,stars,date,review,Useful,Funny,Cool
0,5e4f3ec0113cd26d51aed4fd,HhviuVbs2O9HicrR8J53ug,5e4da0fa3296483cf9246cdd,Jessica P.,https://www.yelp.com/user_details?userid=Hhviu...,Vallejo,CA,189,16,33,5.0,2/4/2020,this place is the best!!No matter which item I...,0,0,1
1,5e4f3ec0113cd26d51aed4fe,0nRiYn9sxe48jsJigPLYoA,5e4da0fa3296483cf9246cdd,Anissa B.,https://www.yelp.com/user_details?userid=0nRiY...,San Bernardino,CA,420,34,NaN,3.0,12/24/2019,"In town for a brief visit, this was the closes...",0,0,0
2,5e4f3ec0113cd26d51aed4ff,wN_4sCk1dyzWvA9snDP-BA,5e4da0fa3296483cf9246cdd,Tyler D.,https://www.yelp.com/user_details?userid=wN_4s...,Atlanta,GA,0,7,NaN,2.0,12/21/2019,Second time here. Atmosphere was great to sta...,0,0,0
3,5e4f3ec0113cd26d51aed500,MUwPT6c_4bh6aMmyo_JTog,5e4da0fa3296483cf9246cdd,Nick M.,https://www.yelp.com/user_details?userid=MUwPT...,Dallas,TX,334,219,519,2.0,,Came here to meet an old friend and had a very...,2,2,2
4,5e4f3ec0113cd26d51aed501,HCTZ0HdNMn4WuyDkxshCDg,5e4da0fa3296483cf9246cdd,Christina L.,https://www.yelp.com/user_details?userid=HCTZ0...,Vacaville,CA,2,10,5,5.0,2/17/2020,Came here for a late lunch/early dinner on our...,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199569,5e545656113cd26d51b1b747,iwaBpxdabHX9Bh4MHDQcnA,5e4e31173296483cf9246d5c,J-nine I.,https://www.yelp.com/user_details?userid=iwaBp...,San Bruno,CA,33,300,20,5.0,6/10/2009,My boss was given a gift card and decided to t...,0,0,1
199570,5e545656113cd26d51b1b748,jHmlmozty9ifc9qjkuHsoA,5e4e31173296483cf9246d5c,yolanda y.,https://www.yelp.com/user_details?userid=jHmlm...,San Bruno,CA,7,80,NaN,4.0,7/18/2009,Came here with visiting friends at the end of ...,0,0,1
199571,5e545656113cd26d51b1b749,UNweIyUVO3Ln9SDPsCAXlA,5e4e31173296483cf9246d5c,Christie X.,https://www.yelp.com/user_details?userid=UNweI...,San Francisco,CA,94,318,4,3.0,1/1/2010,** Happy Hour Review Only **I walked in on Wed...,0,1,0
199572,5e545656113cd26d51b1b74a,9vABmjoaSliTpDjsxvYc_A,5e4e31173296483cf9246d5c,Renee H.,https://www.yelp.com/user_details?userid=9vABm...,New Orleans,LA,122,2,NaN,5.0,3/31/2013,The Happy Hour made me very happy. All of the...,0,0,0
199573,5e545656113cd26d51b1b74b,4QKOO2MtsPuL_-wMTjKsLg,5e4e31173296483cf9246d5c,Carolyn P.,https://www.yelp.com/user_details?userid=4QKOO...,San Francisco,CA,7,29,4,5.0,3/17/2014,we had an absolutely awesome time! everyone wa...,0,0,1

In [107]:
from bson import ObjectId
user_reviews_df[user_reviews_df['restaurant_id'] == ObjectId('5e500cd33296483cf9246ec3')]

Empty DataFrame
Columns: [_id, userid, restaurant_id, name, url, city, state, friends, reviews, photos, stars, date, review, Useful, Funny, Cool]
Index: []

In [245]:
user_reviews_df[user_reviews_df.duplicated(['review', 'name'])]

Empty DataFrame
Columns: [_id, userid, restaurant_id, name, url, city, state, friends, reviews, photos, stars, date, review, Useful, Funny, Cool]
Index: []

In [246]:
user_att = ['userid', 'name', 'url', 'city', 'state', 'friends', 'reviews', 'photos']
user = {}
for att in user_att:
    user[att] = user_reviews_df[att]


users_df = pd.DataFrame(user)
users_df

,userid,name,url,city,state,friends,reviews,photos
0,HhviuVbs2O9HicrR8J53ug,Jessica P.,https://www.yelp.com/user_details?userid=Hhviu...,Vallejo,CA,189,16,33
1,0nRiYn9sxe48jsJigPLYoA,Anissa B.,https://www.yelp.com/user_details?userid=0nRiY...,San Bernardino,CA,420,34,NaN
2,wN_4sCk1dyzWvA9snDP-BA,Tyler D.,https://www.yelp.com/user_details?userid=wN_4s...,Atlanta,GA,0,7,NaN
3,MUwPT6c_4bh6aMmyo_JTog,Nick M.,https://www.yelp.com/user_details?userid=MUwPT...,Dallas,TX,334,219,519
4,HCTZ0HdNMn4WuyDkxshCDg,Christina L.,https://www.yelp.com/user_details?userid=HCTZ0...,Vacaville,CA,2,10,5
...,...,...,...,...,...,...,...,...
199569,iwaBpxdabHX9Bh4MHDQcnA,J-nine I.,https://www.yelp.com/user_details?userid=iwaBp...,San Bruno,CA,33,300,20
199570,jHmlmozty9ifc9qjkuHsoA,yolanda y.,https://www.yelp.com/user_details?userid=jHmlm...,San Bruno,CA,7,80,NaN
199571,UNweIyUVO3Ln9SDPsCAXlA,Christie X.,https://www.yelp.com/user_details?userid=UNweI...,San Francisco,CA,94,318,4
199572,9vABmjoaSliTpDjsxvYc_A,Renee H.,https://www.yelp.com/user_details?userid=9vABm...,New Orleans,LA,122,2,NaN
199573,4QKOO2MtsPuL_-wMTjKsLg,Carolyn P.,https://www.yelp.com/user_details?userid=4QKOO...,San Francisco,CA,7,29,4

In [183]:
users_df[users_df.duplicated(['userid'])]

,userid,name,url,city,state,friends,reviews,photos
236,djxnI8Ux8ZYQJhiOQkrRhA,Abby S.,https://www.yelp.com/user_details?userid=djxnI...,Denver,CO,4028,2346,6677
434,lLfcbYGTeVxQN5Ig0ompJg,Elena N.,https://www.yelp.com/user_details?userid=lLfcb...,San Francisco,CA,1774,3198,13534
1246,gqDbe1YwS4EhuCCNSNhpxg,Elizabeth G.,https://www.yelp.com/user_details?userid=gqDbe...,San Francisco,CA,256,360,62
1926,wEE-YMx5pmSuagLtNxMPKA,Stephanie Y.,https://www.yelp.com/user_details?userid=wEE-Y...,Berkeley,CA,4936,1866,3659
2181,adKonsQWY64vJYglPotH5Q,Stefanie C.,https://www.yelp.com/user_details?userid=adKon...,Denver,CO,952,2225,1287
...,...,...,...,...,...,...,...,...
174915,akmzZ87dhGitfq_c600cQw,Stella L.,https://www.yelp.com/user_details?userid=akmzZ...,San Francisco,CA,31,91,19
174918,XkYE04GqIqibnQ2XE4qy2g,Tammy L.,https://www.yelp.com/user_details?userid=XkYE0...,Emeryville,CA,25,50,NaN
174920,zIDUDgoHsfvsi8oS8QlgIA,Jodie B.,https://www.yelp.com/user_details?userid=zIDUD...,Brooklyn,NY,173,395,12
174923,ZLVaLX6E4olh6h5o6ihjLA,Alex W.,https://www.yelp.com/user_details?userid=ZLVaL...,Chattanooga,TN,223,131,87
174924,nAlQUNEtVh00-2XY7Vp2fA,Tracey K.,https://www.yelp.com/user_details?userid=nAlQU...,San Francisco,CA,0,67,3

In [250]:
users_df.drop_duplicates(subset='userid', keep='first', inplace=True)

In [251]:
users_df

,userid,name,url,city,state,friends,reviews,photos
0,HhviuVbs2O9HicrR8J53ug,Jessica P.,https://www.yelp.com/user_details?userid=Hhviu...,Vallejo,CA,189,16,33
1,0nRiYn9sxe48jsJigPLYoA,Anissa B.,https://www.yelp.com/user_details?userid=0nRiY...,San Bernardino,CA,420,34,NaN
2,wN_4sCk1dyzWvA9snDP-BA,Tyler D.,https://www.yelp.com/user_details?userid=wN_4s...,Atlanta,GA,0,7,NaN
3,MUwPT6c_4bh6aMmyo_JTog,Nick M.,https://www.yelp.com/user_details?userid=MUwPT...,Dallas,TX,334,219,519
4,HCTZ0HdNMn4WuyDkxshCDg,Christina L.,https://www.yelp.com/user_details?userid=HCTZ0...,Vacaville,CA,2,10,5
...,...,...,...,...,...,...,...,...
199567,DywjTlbCTkpAM_K_Suhngg,Jael J.,https://www.yelp.com/user_details?userid=DywjT...,Portland,OR,65,69,20
199568,Cbw1IKmtlycJeZgxLImcUQ,Fuzzysaurus L.,https://www.yelp.com/user_details?userid=Cbw1I...,San Carlos,CA,189,130,2
199570,jHmlmozty9ifc9qjkuHsoA,yolanda y.,https://www.yelp.com/user_details?userid=jHmlm...,San Bruno,CA,7,80,NaN
199572,9vABmjoaSliTpDjsxvYc_A,Renee H.,https://www.yelp.com/user_details?userid=9vABm...,New Orleans,LA,122,2,NaN
199573,4QKOO2MtsPuL_-wMTjKsLg,Carolyn P.,https://www.yelp.com/user_details?userid=4QKOO...,San Francisco,CA,7,29,4

In [252]:
reviews_att = ['userid', 'restaurant_id', 'review', 'date', 'stars', 'Useful', 'Funny', 'Cool']
reviews = {}
for att in reviews_att:
    reviews[att] = user_reviews_df[att]


reviews_df = pd.DataFrame(reviews)

In [259]:
reviews_df

,userid,restaurant_id,review,date,stars,Useful,Funny,Cool
0,HhviuVbs2O9HicrR8J53ug,5e4da0fa3296483cf9246cdd,this place is the best!!No matter which item I...,2/4/2020,5.0,0,0,1
1,0nRiYn9sxe48jsJigPLYoA,5e4da0fa3296483cf9246cdd,"In town for a brief visit, this was the closes...",12/24/2019,3.0,0,0,0
2,wN_4sCk1dyzWvA9snDP-BA,5e4da0fa3296483cf9246cdd,Second time here. Atmosphere was great to sta...,12/21/2019,2.0,0,0,0
3,MUwPT6c_4bh6aMmyo_JTog,5e4da0fa3296483cf9246cdd,Came here to meet an old friend and had a very...,,2.0,2,2,2
4,HCTZ0HdNMn4WuyDkxshCDg,5e4da0fa3296483cf9246cdd,Came here for a late lunch/early dinner on our...,2/17/2020,5.0,0,0,1
...,...,...,...,...,...,...,...,...
199569,iwaBpxdabHX9Bh4MHDQcnA,5e4e31173296483cf9246d5c,My boss was given a gift card and decided to t...,6/10/2009,5.0,0,0,1
199570,jHmlmozty9ifc9qjkuHsoA,5e4e31173296483cf9246d5c,Came here with visiting friends at the end of ...,7/18/2009,4.0,0,0,1
199571,UNweIyUVO3Ln9SDPsCAXlA,5e4e31173296483cf9246d5c,** Happy Hour Review Only **I walked in on Wed...,1/1/2010,3.0,0,1,0
199572,9vABmjoaSliTpDjsxvYc_A,5e4e31173296483cf9246d5c,The Happy Hour made me very happy. All of the...,3/31/2013,5.0,0,0,0
199573,4QKOO2MtsPuL_-wMTjKsLg,5e4e31173296483cf9246d5c,we had an absolutely awesome time! everyone wa...,3/17/2014,5.0,0,0,1

In [237]:
reviews_df[reviews_df['stars'] == 0]['restaurant_id'].unique()

array([ObjectId('5e4de92f3296483cf9246d27'),
       ObjectId('5e4de9ec3296483cf9246d28'),
       ObjectId('5e4decec3296483cf9246d2a'),
       ObjectId('5e4ded6e3296483cf9246d2b'),
       ObjectId('5e4dee0e3296483cf9246d2c'),
       ObjectId('5e4dee903296483cf9246d2d'),
       ObjectId('5e4def133296483cf9246d2e'),
       ObjectId('5e4df00c3296483cf9246d2f'),
       ObjectId('5e4df10f3296483cf9246d30'),
       ObjectId('5e4df1373296483cf9246d31'),
       ObjectId('5e4df2123296483cf9246d32'),
       ObjectId('5e4df2ad3296483cf9246d33'),
       ObjectId('5e4df32f3296483cf9246d34'),
       ObjectId('5e4dfaba3296483cf9246d35'),
       ObjectId('5e4e11033296483cf9246d36'),
       ObjectId('5e4e11e03296483cf9246d37'),
       ObjectId('5e4e12d93296483cf9246d38'),
       ObjectId('5e4e13b63296483cf9246d39'),
       ObjectId('5e4e14753296483cf9246d3a'),
       ObjectId('5e4e14bb3296483cf9246d3b'),
       ObjectId('5e4e15413296483cf9246d3c'),
       ObjectId('5e4e16273296483cf9246d3e'),
       ObjectId('5e4e16e53296483cf9246d3f'),
       ObjectId('5e4e178a3296483cf9246d40'),
       ObjectId('5e4e18563296483cf9246d41'),
       ObjectId('5e4e18d83296483cf9246d42'),
       ObjectId('5e4e1a143296483cf9246d43')], dtype=object)

In [254]:
users_df.to_csv('data/users.csv', ",")
reviews_df.to_csv('data/reviews.csv', ",")