In [1]:
from pymongo import MongoClient
from bs4 import BeautifulSoup
import requests
import pandas as pd

client = MongoClient('localhost', 27017)
yelp = client['yelp']
restaurants = yelp['restaurants']
processed = yelp['processed']
users = yelp['users']

In [2]:
restaurants_df = pd.DataFrame(list(restaurants.find()))
restaurants_df

,_id,title,image_url,url,price,stars,reviewCount,phone,address,neighborhood,...,smoking,dancing,wheelchair,coat,meal,groups,happy_hour_sp,noise_level,alcohol,description
0,5e4da0fa3296483cf9246cdd,Atlas Tap Room,https://s3-media0.fl.yelpcdn.com/bphoto/Z9FNtP...,https://www.yelp.com/biz/atlas-tap-room-san-fr...,2.0,4.0,186,(415) 308-5806,606 Mission St,Financial District,...,0.0,0.0,1.0,0.0,"Lunch, Dinner",1.0,1.0,Average,Beer & Wine Only,We specialize in serving craft brews and wines...
1,5e4da15f3296483cf9246cde,Fog Harbor Fish House,https://s3-media0.fl.yelpcdn.com/bphoto/Lv7tIR...,https://www.yelp.com/biz/fog-harbor-fish-house...,2.0,4.0,6006,(415) 421-2442,Pier 39,Fisherman's Wharf,...,0.0,0.0,1.0,0.0,"Lunch, Dinner",1.0,1.0,Average,Full Bar,"Award winning view of the Golden Gate Bridge, ..."
2,5e4da21d3296483cf9246cdf,The House,https://s3-media0.fl.yelpcdn.com/bphoto/UzrNIk...,https://www.yelp.com/biz/the-house-san-francis...,3.0,4.5,4821,(415) 986-8612,1230 Grant Ave,North Beach/Telegraph Hill,...,NaN,NaN,0.0,NaN,Dinner,0.0,NaN,Average,Beer & Wine Only,
3,5e4da2bc3296483cf9246ce0,Marufuku Ramen SF,https://s3-media0.fl.yelpcdn.com/bphoto/2lUFO5...,https://www.yelp.com/biz/marufuku-ramen-sf-san...,2.0,4.5,2918,(415) 872-9786,Located in Japan Center,Lower Pacific Heights,...,NaN,NaN,1.0,NaN,"Lunch, Dinner",1.0,NaN,Average,Beer & Wine Only,
4,5e4da37a3296483cf9246ce1,Zazie,https://s3-media0.fl.yelpcdn.com/bphoto/uuRvEU...,https://www.yelp.com/biz/zazie-san-francisco?o...,2.0,4.0,4371,(415) 564-5332,941 Cole St,Cole Valley,...,NaN,NaN,NaN,NaN,"Breakfast, Brunch",1.0,NaN,Average,Beer & Wine Only,"Zazie serves brunch and dinner daily, every da..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
902,5e56b107ca08b54c23d83aa1,Sushi Ondo,https://s3-media0.fl.yelpcdn.com/bphoto/iSC3tr...,https://www.yelp.com/biz/sushi-ondo-san-franci...,NaN,4.5,118,(415) 757-0026,1550 Howard St,SoMa,...,NaN,NaN,1.0,NaN,Dinner,1.0,NaN,Average,Beer & Wine Only,Authentic Japanese tasting omakase and Korean ...
903,5e56b18eca08b54c23d83aa2,Horsefeather,https://s3-media0.fl.yelpcdn.com/bphoto/WqrVfQ...,https://www.yelp.com/biz/horsefeather-san-fran...,2.0,4.0,266,(415) 817-1939,528 Divisidero St,Alamo Square,...,0.0,0.0,1.0,0.0,"Brunch, Lunch, Dinner, Late Night",1.0,NaN,Average,Full Bar,
904,5e56b252ca08b54c23d83aa3,Sun and Moon,https://s3-media0.fl.yelpcdn.com/bphoto/VS92Oc...,https://www.yelp.com/biz/sun-and-moon-san-fran...,2.0,4.5,142,(415) 872-9555,415 Brannan St,Mission Bay,...,NaN,NaN,NaN,NaN,"Lunch, Dinner",1.0,NaN,Average,Beer & Wine Only,Our Thai food is inspired from dishes in centr...
905,5e56b48eca08b54c23d83aa4,Thai House Express,https://s3-media0.fl.yelpcdn.com/bphoto/r7XC9z...,https://www.yelp.com/biz/thai-house-express-sa...,2.0,3.5,594,(415) 864-5000,599 Castro St,Castro,...,NaN,NaN,NaN,NaN,Dinner,1.0,NaN,Average,Beer & Wine Only,Authentic thai food that is good all around! O...
906,5e56b69cca08b54c23d83aa5,Cocosueño,https://s3-media0.fl.yelpcdn.com/bphoto/QkHozs...,https://www.yelp.com/biz/cocosue%C3%B1o-san-fr...,2.0,4.0,61,(415) 513-5122,865 Market St,Union Square,...,NaN,NaN,NaN,NaN,Dinner,NaN,1.0,Average,Full Bar,Cocosueño is an irrepressible expression of ou...

In [144]:
restaurants_df.to_csv('data/restaurants.csv', ",")

In [3]:
restaurants_df[restaurants_df.duplicated(['title'])]

Empty DataFrame
Columns: [_id, title, image_url, url, price, stars, reviewCount, phone, address, neighborhood, cuisines, city, state, zipcode, health_score, ambience, reservations, take_out, apple_pay, bike_parking, happy_hour, wifi, dogs, drive_thru, vegan_options, delivery, credit_cards, google_pay, parking, kids, outdoor_seating, tv, waiter_service, caters, smoking, dancing, wheelchair, coat, meal, groups, happy_hour_sp, noise_level, alcohol, description]
Index: []

[0 rows x 44 columns]

In [60]:
str(restaurants_df['_id'][0]) == '5e4da0fa3296483cf9246cdd'

True

In [136]:
user_reviews_df = pd.DataFrame(list(users.find()))
user_reviews_df

,_id,userid,restaurant_id,name,url,city,state,friends,reviews,photos,stars,date,review,Useful,Funny,Cool
0,5e4f3ec0113cd26d51aed4fd,HhviuVbs2O9HicrR8J53ug,5e4da0fa3296483cf9246cdd,Jessica P.,https://www.yelp.com/user_details?userid=Hhviu...,Vallejo,CA,189,16,33,5.0,2/4/2020,this place is the best!!No matter which item I...,0,0,1
1,5e4f3ec0113cd26d51aed4fe,0nRiYn9sxe48jsJigPLYoA,5e4da0fa3296483cf9246cdd,Anissa B.,https://www.yelp.com/user_details?userid=0nRiY...,San Bernardino,CA,420,34,NaN,3.0,12/24/2019,"In town for a brief visit, this was the closes...",0,0,0
2,5e4f3ec0113cd26d51aed4ff,wN_4sCk1dyzWvA9snDP-BA,5e4da0fa3296483cf9246cdd,Tyler D.,https://www.yelp.com/user_details?userid=wN_4s...,Atlanta,GA,0,7,NaN,2.0,12/21/2019,Second time here. Atmosphere was great to sta...,0,0,0
3,5e4f3ec0113cd26d51aed500,MUwPT6c_4bh6aMmyo_JTog,5e4da0fa3296483cf9246cdd,Nick M.,https://www.yelp.com/user_details?userid=MUwPT...,Dallas,TX,334,219,519,2.0,,Came here to meet an old friend and had a very...,2,2,2
4,5e4f3ec0113cd26d51aed501,HCTZ0HdNMn4WuyDkxshCDg,5e4da0fa3296483cf9246cdd,Christina L.,https://www.yelp.com/user_details?userid=HCTZ0...,Vacaville,CA,2,10,5,5.0,2/17/2020,Came here for a late lunch/early dinner on our...,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168369,5e50fda4993c3d0d0466b9bc,7JVgzyukQFOtZzirMpQejA,5e4e18563296483cf9246d41,Paul John G.,https://www.yelp.com/user_details?userid=7JVgz...,Millbrae,CA,444,26,27,0.0,3/3/2011,I was looking for a good authentic Italian pla...,1,1,2
168370,5e50fda4993c3d0d0466b9bd,X5cSgD9MdYVzoz7aYAsTLw,5e4e18563296483cf9246d41,Jenee M.,https://www.yelp.com/user_details?userid=X5cSg...,Collegeville,PA,2,33,3,0.0,7/2/2012,Sotto Mare is definitely one of my favorite re...,0,0,0
168371,5e50fda4993c3d0d0466b9be,sJQGHTOKkVyloPrjBMm9FA,5e4e18563296483cf9246d41,User A.,https://www.yelp.com/user_details?userid=sJQGH...,San Francisco,CA,25,54,NaN,0.0,12/17/2012,"The food was good, but not something special. ...",4,0,0
168372,5e50fda4993c3d0d0466b9bf,i6zHH9EataRZMh-NOe_4ew,5e4e18563296483cf9246d41,Felicia S.,https://www.yelp.com/user_details?userid=i6zHH...,Kansas City,MO,0,63,50,0.0,2/17/2012,The best seafood risotto outside of Italy!!!! ...,0,0,0
168373,5e50fda4993c3d0d0466b9c0,6Rz3WDtxgTQWFcWMJZpE7g,5e4e18563296483cf9246d41,J D.,https://www.yelp.com/user_details?userid=6Rz3W...,San Francisco,CA,3,53,4,0.0,12/29/2013,"Bam! This place is AWESOME. Great seafood, r...",0,0,0

In [107]:
from bson import ObjectId
user_reviews_df[user_reviews_df['restaurant_id'] == ObjectId('5e500cd33296483cf9246ec3')]

Empty DataFrame
Columns: [_id, userid, restaurant_id, name, url, city, state, friends, reviews, photos, stars, date, review, Useful, Funny, Cool]
Index: []

In [137]:
user_reviews_df[user_reviews_df.duplicated(['review', 'name'])]

,_id,userid,restaurant_id,name,url,city,state,friends,reviews,photos,stars,date,review,Useful,Funny,Cool
163714,5e50e024993c3d0d0466a78c,rykJeNgfgoi6f4w6sobq0g,5e4e178a3296483cf9246d40,Terry M.,https://www.yelp.com/user_details?userid=rykJe...,San Francisco,CA,0,7,NaN,0.0,12/28/2018,We love their Market ST location. I have given...,0,0,0
165491,5e50eb71993c3d0d0466ae7e,_xUpTh2Cd7DNY3qwa4lLag,5e4e18563296483cf9246d41,Michelle C.,https://www.yelp.com/user_details?userid=_xUpT...,Mountain View,CA,2,6,4,0.0,4/27/2019,Worth the wait! My boyfriend and I got a cup o...,0,0,0

In [140]:
user_att = ['userid', 'name', 'url', 'city', 'state', 'friends', 'reviews', 'photos']
user = {}
for att in user_att:
    user[att] = user_reviews_df[att]


users_df = pd.DataFrame(user)
users_df

,userid,name,url,city,state,friends,reviews,photos
0,HhviuVbs2O9HicrR8J53ug,Jessica P.,https://www.yelp.com/user_details?userid=Hhviu...,Vallejo,CA,189,16,33
1,0nRiYn9sxe48jsJigPLYoA,Anissa B.,https://www.yelp.com/user_details?userid=0nRiY...,San Bernardino,CA,420,34,NaN
2,wN_4sCk1dyzWvA9snDP-BA,Tyler D.,https://www.yelp.com/user_details?userid=wN_4s...,Atlanta,GA,0,7,NaN
3,MUwPT6c_4bh6aMmyo_JTog,Nick M.,https://www.yelp.com/user_details?userid=MUwPT...,Dallas,TX,334,219,519
4,HCTZ0HdNMn4WuyDkxshCDg,Christina L.,https://www.yelp.com/user_details?userid=HCTZ0...,Vacaville,CA,2,10,5
...,...,...,...,...,...,...,...,...
168369,7JVgzyukQFOtZzirMpQejA,Paul John G.,https://www.yelp.com/user_details?userid=7JVgz...,Millbrae,CA,444,26,27
168370,X5cSgD9MdYVzoz7aYAsTLw,Jenee M.,https://www.yelp.com/user_details?userid=X5cSg...,Collegeville,PA,2,33,3
168371,sJQGHTOKkVyloPrjBMm9FA,User A.,https://www.yelp.com/user_details?userid=sJQGH...,San Francisco,CA,25,54,NaN
168372,i6zHH9EataRZMh-NOe_4ew,Felicia S.,https://www.yelp.com/user_details?userid=i6zHH...,Kansas City,MO,0,63,50
168373,6Rz3WDtxgTQWFcWMJZpE7g,J D.,https://www.yelp.com/user_details?userid=6Rz3W...,San Francisco,CA,3,53,4

In [146]:
reviews_att = ['userid', 'restaurant_id', 'review', 'date', 'stars', 'Useful', 'Funny', 'Cool']
reviews = {}
for att in reviews_att:
    reviews[att] = user_reviews_df[att]


reviews_df = pd.DataFrame(reviews)
reviews_df[reviews_df['stars'] == 0]

,userid,restaurant_id,review,date,stars,Useful,Funny,Cool
137180,--5MV_3EqmQinXwJPNI2fg,5e4de92f3296483cf9246d27,I made reservations for 12:15 at Starbelly on ...,2/15/2020,0.0,0,0,0
137181,_7j3YoRDJNA0_28b8dF6SA,5e4de92f3296483cf9246d27,Starbelly's restaurant week menu for lunch is ...,2/1/2020,0.0,0,0,1
137182,d_iCGZhzMbWfSdzHkxlyXw,5e4de92f3296483cf9246d27,This is such a cute and fun place! I'd defini...,1/29/2020,0.0,2,1,1
137183,nsOvV4yKQrfoFQyuD-vUNg,5e4de92f3296483cf9246d27,I'm a fan of Starbelly's brunch.My significant...,1/17/2020,0.0,1,1,1
137184,9qnfvy-b3v9OyxUPY1AGNw,5e4de92f3296483cf9246d27,Came by for happy hour on a Monday and the pla...,1/7/2020,0.0,1,0,0
...,...,...,...,...,...,...,...,...
168369,7JVgzyukQFOtZzirMpQejA,5e4e18563296483cf9246d41,I was looking for a good authentic Italian pla...,3/3/2011,0.0,1,1,2
168370,X5cSgD9MdYVzoz7aYAsTLw,5e4e18563296483cf9246d41,Sotto Mare is definitely one of my favorite re...,7/2/2012,0.0,0,0,0
168371,sJQGHTOKkVyloPrjBMm9FA,5e4e18563296483cf9246d41,"The food was good, but not something special. ...",12/17/2012,0.0,4,0,0
168372,i6zHH9EataRZMh-NOe_4ew,5e4e18563296483cf9246d41,The best seafood risotto outside of Italy!!!! ...,2/17/2012,0.0,0,0,0
168373,6Rz3WDtxgTQWFcWMJZpE7g,5e4e18563296483cf9246d41,"Bam! This place is AWESOME. Great seafood, r...",12/29/2013,0.0,0,0,0