In [76]:
import pandas as pd

restaurants_df = pd.read_csv('data/restaurants.csv')
filtered_restaurants_df = restaurants_df.drop(columns=['Unnamed: 0', '_id', 'image_url', 'url', 'phone', 'address', 'kids', 'city', 'state', 'zipcode', 'description'])

In [3]:
%run 'src/recommendations.py'

Restaurant: Noosh
Recommendations
Truly Mediterranean
Yasmin
SAJJ Mediterranean
Kokkari Estiatorio
Souvla
Beit Rima
Tuba Authentic Turkish Restaurant
Troya
Saffron 685
Helmand Palace
-------------------

In [77]:
str_cols = ['ambience', 'noise_level', 'alcohol', 'meal']

for col in str_cols:
    filtered_restaurants_df[col].fillna("", inplace=True)
filtered_restaurants_df['price'].fillna(0, inplace=True)

cols = ['health_score', 'reservations', 'take_out', 'apple_pay', 'bike_parking', 'happy_hour',
        'wifi', 'dogs', 'drive_thru', 'vegan_options', 'delivery', 'credit_cards', 'google_pay', 
       'parking', 'outdoor_seating', 'tv', 'waiter_service', 'caters', 'smoking', 'dancing', 
       'wheelchair', 'coat', 'groups', 'happy_hour_sp']

for col in cols:
    filtered_restaurants_df[col].fillna(0, inplace=True)

filtered_restaurants_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 34 columns):
title              800 non-null object
price              800 non-null float64
stars              800 non-null float64
reviewCount        800 non-null int64
neighborhood       800 non-null object
cuisines           800 non-null object
health_score       800 non-null float64
ambience           800 non-null object
reservations       800 non-null float64
take_out           800 non-null float64
apple_pay          800 non-null float64
bike_parking       800 non-null float64
happy_hour         800 non-null float64
wifi               800 non-null float64
dogs               800 non-null float64
drive_thru         800 non-null float64
vegan_options      800 non-null float64
delivery           800 non-null float64
credit_cards       800 non-null float64
google_pay         800 non-null float64
parking            800 non-null object
outdoor_seating    800 non-null float64
tv                 800 non-null float64
waiter_service     800 non-null float64
caters             800 non-null float64
smoking            800 non-null float64
dancing            800 non-null float64
wheelchair         800 non-null float64
coat               800 non-null float64
meal               800 non-null object
groups             800 non-null float64
happy_hour_sp      800 non-null float64
noise_level        800 non-null object
alcohol            800 non-null object
dtypes: float64(25), int64(1), object(8)
memory usage: 212.6+ KB

In [78]:
filtered_restaurants_df

,title,price,stars,reviewCount,neighborhood,cuisines,health_score,ambience,reservations,take_out,...,caters,smoking,dancing,wheelchair,coat,meal,groups,happy_hour_sp,noise_level,alcohol
0,Atlas Tap Room,2.0,4.0,186,Financial District,"Beer Bar, American (New)",89.0,"Casual, Classy",1.0,1.0,...,1.0,0.0,0.0,1.0,0.0,"Lunch, Dinner",1.0,1.0,Average,Beer & Wine Only
1,Fog Harbor Fish House,2.0,4.0,6006,Fisherman's Wharf,"Seafood, Bars",92.0,"Touristy, Classy",1.0,1.0,...,0.0,0.0,0.0,1.0,0.0,"Lunch, Dinner",1.0,1.0,Average,Full Bar
2,The House,3.0,4.5,4821,North Beach/Telegraph Hill,Asian Fusion,89.0,Classy,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,Dinner,0.0,0.0,Average,Beer & Wine Only
3,Marufuku Ramen SF,2.0,4.5,2918,Lower Pacific Heights,Ramen,89.0,"Casual, Trendy, Classy",0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,"Lunch, Dinner",1.0,0.0,Average,Beer & Wine Only
4,Zazie,2.0,4.0,4371,Cole Valley,"Breakfast & Brunch, French",90.0,"Casual, Classy",1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,"Breakfast, Brunch",1.0,0.0,Average,Beer & Wine Only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,Tonton Restaurant,0.0,4.0,51,Union Square,"Ramen, Japanese Curry",0.0,Casual,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,,1.0,0.0,Average,Beer & Wine Only
796,In-N-Out Burger,1.0,4.0,1827,Fisherman's Wharf,"Fast Food, Burgers",100.0,"Casual, Classy",0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,"Lunch, Dinner",1.0,0.0,Loud,No
797,Balompie Cafe No 3,2.0,4.0,344,Bernal Heights,"Seafood, Salvadoran",71.0,Casual,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,"Lunch, Dinner",1.0,0.0,Average,Beer & Wine Only
798,Chicken as Cluck,0.0,4.0,29,Potrero Hill,"Chicken Shop, Food Delivery Services, Caterers",0.0,,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,,0.0,0.0,,
799,Alexander’s Steakhouse,4.0,4.0,1713,Mission Bay,"Steakhouses, Seafood, American (New)",92.0,"Classy, Upscale",1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,Dinner,1.0,0.0,Average,Full Bar

In [79]:
s = filtered_restaurants_df['ambience'].str.split(", ")
ambience_dummies = pd.get_dummies(s.apply(pd.Series).stack()).sum(level=0)
ambience_dummies

,,Casual,Classy,Divey,Hipster,Intimate,Romantic,Touristy,Trendy,Upscale
0,0,1,1,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,1,0,0
2,0,0,1,0,0,0,0,0,0,0
3,0,1,1,0,0,0,0,0,1,0
4,0,1,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
795,0,1,0,0,0,0,0,0,0,0
796,0,1,1,0,0,0,0,0,0,0
797,0,1,0,0,0,0,0,0,0,0
798,1,0,0,0,0,0,0,0,0,0
799,0,0,1,0,0,0,0,0,0,1

In [80]:
cui = filtered_restaurants_df['cuisines'].str.split(", ")
cuisines_dummies = pd.get_dummies(cui.apply(pd.Series).stack()).sum(level=0)
cuisines_dummies

,Acai Bowls,Afghan,American (New),American (Traditional),Arabian,Arcades,Argentine,Armenian,Asian Fusion,Austrian,...,Vegan,Vegetarian,Venezuelan,Venues & Event Spaces,Vermouth Bars,Vietnamese,Whiskey Bars,Wine & Spirits,Wine Bars,Wine Tasting Classes
0,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
796,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
797,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
798,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
799,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [81]:
meal = filtered_restaurants_df['meal'].str.split(", ")
meal_dummies = pd.get_dummies(meal.apply(pd.Series).stack()).sum(level=0)
meal_dummies

        Breakfast  Brunch  Dessert  Dinner  Late Night  Lunch  No  Yes
0    0          0       0        0       1           0      1   0    0
1    0          0       0        0       1           0      1   0    0
2    0          0       0        0       1           0      0   0    0
3    0          0       0        0       1           0      1   0    0
4    0          1       1        0       0           0      0   0    0
..  ..        ...     ...      ...     ...         ...    ...  ..  ...
795  1          0       0        0       0           0      0   0    0
796  0          0       0        0       1           0      1   0    0
797  0          0       0        0       1           0      1   0    0
798  1          0       0        0       0           0      0   0    0
799  0          0       0        0       1           0      0   0    0

[800 rows x 9 columns]

In [82]:
parking = filtered_restaurants_df['parking'].str.split(", ")
parking_dummies = pd.get_dummies(parking.apply(pd.Series).stack()).sum(level=0)
parking_dummies.rename(columns={'Yes': 'Parking_yes'}, inplace=True)
parking_dummies

     Garage  Private Lot  Street  Valet  Validated  Parking_yes
0         0            0       1      0          0            0
1         1            0       0      0          1            0
2         1            1       1      0          0            0
3         1            0       0      0          0            0
4         0            1       1      0          0            0
..      ...          ...     ...    ...        ...          ...
793       0            0       1      0          0            0
796       0            0       1      0          0            0
797       0            0       1      0          0            0
798       0            0       1      0          0            0
799       0            0       1      1          0            0

[742 rows x 6 columns]

In [83]:
dum_cols = ['neighborhood', 'noise_level', 'alcohol']

dum = {}
for col in dum_cols:
    dum[col] = pd.get_dummies(filtered_restaurants_df[col])

In [84]:
concat_rest_df = pd.concat([filtered_restaurants_df, ambience_dummies, cuisines_dummies, meal_dummies, dum['alcohol'], dum['noise_level']], axis=1)
concat_rest_df

,title,price,stars,reviewCount,neighborhood,cuisines,health_score,ambience,reservations,take_out,...,Yes,,Beer & Wine Only,Full Bar,No,,Average,Loud,Quiet,Very Loud
0,Atlas Tap Room,2.0,4.0,186,Financial District,"Beer Bar, American (New)",89.0,"Casual, Classy",1.0,1.0,...,0,0,1,0,0,0,1,0,0,0
1,Fog Harbor Fish House,2.0,4.0,6006,Fisherman's Wharf,"Seafood, Bars",92.0,"Touristy, Classy",1.0,1.0,...,0,0,0,1,0,0,1,0,0,0
2,The House,3.0,4.5,4821,North Beach/Telegraph Hill,Asian Fusion,89.0,Classy,1.0,1.0,...,0,0,1,0,0,0,1,0,0,0
3,Marufuku Ramen SF,2.0,4.5,2918,Lower Pacific Heights,Ramen,89.0,"Casual, Trendy, Classy",0.0,1.0,...,0,0,1,0,0,0,1,0,0,0
4,Zazie,2.0,4.0,4371,Cole Valley,"Breakfast & Brunch, French",90.0,"Casual, Classy",1.0,1.0,...,0,0,1,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,Tonton Restaurant,0.0,4.0,51,Union Square,"Ramen, Japanese Curry",0.0,Casual,0.0,1.0,...,0,0,1,0,0,0,1,0,0,0
796,In-N-Out Burger,1.0,4.0,1827,Fisherman's Wharf,"Fast Food, Burgers",100.0,"Casual, Classy",0.0,1.0,...,0,0,0,0,1,0,0,1,0,0
797,Balompie Cafe No 3,2.0,4.0,344,Bernal Heights,"Seafood, Salvadoran",71.0,Casual,0.0,1.0,...,0,0,1,0,0,0,1,0,0,0
798,Chicken as Cluck,0.0,4.0,29,Potrero Hill,"Chicken Shop, Food Delivery Services, Caterers",0.0,,0.0,1.0,...,0,1,0,0,0,1,0,0,0,0
799,Alexander’s Steakhouse,4.0,4.0,1713,Mission Bay,"Steakhouses, Seafood, American (New)",92.0,"Classy, Upscale",1.0,0.0,...,0,0,0,1,0,0,1,0,0,0

In [12]:
concat_rest_df.drop(columns=['title','neighborhood', 'cuisines', 'ambience', 'meal', 'alcohol', 'noise_level'], inplace=True)
cols = ['reservations', 'take_out', 'apple_pay', 'bike_parking', 'happy_hour',
        'wifi', 'dogs', 'drive_thru', 'vegan_options', 'delivery', 'credit_cards', 'google_pay', 
       'parking', 'outdoor_seating', 'tv', 'waiter_service', 'caters', 'smoking', 'dancing', 
       'wheelchair', 'coat', 'groups', 'happy_hour_sp']
for col in cols:
    concat_rest_df.drop(columns=[col], inplace=True)

In [85]:
concat_rest_df.fillna(0, inplace=True)
concat_rest_df.drop(columns=['reviewCount'], inplace=True)
concat_rest_df

,title,price,stars,neighborhood,cuisines,health_score,ambience,reservations,take_out,apple_pay,...,Yes,,Beer & Wine Only,Full Bar,No,,Average,Loud,Quiet,Very Loud
0,Atlas Tap Room,2.0,4.0,Financial District,"Beer Bar, American (New)",89.0,"Casual, Classy",1.0,1.0,0.0,...,0,0,1,0,0,0,1,0,0,0
1,Fog Harbor Fish House,2.0,4.0,Fisherman's Wharf,"Seafood, Bars",92.0,"Touristy, Classy",1.0,1.0,1.0,...,0,0,0,1,0,0,1,0,0,0
2,The House,3.0,4.5,North Beach/Telegraph Hill,Asian Fusion,89.0,Classy,1.0,1.0,0.0,...,0,0,1,0,0,0,1,0,0,0
3,Marufuku Ramen SF,2.0,4.5,Lower Pacific Heights,Ramen,89.0,"Casual, Trendy, Classy",0.0,1.0,0.0,...,0,0,1,0,0,0,1,0,0,0
4,Zazie,2.0,4.0,Cole Valley,"Breakfast & Brunch, French",90.0,"Casual, Classy",1.0,1.0,0.0,...,0,0,1,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,Tonton Restaurant,0.0,4.0,Union Square,"Ramen, Japanese Curry",0.0,Casual,0.0,1.0,0.0,...,0,0,1,0,0,0,1,0,0,0
796,In-N-Out Burger,1.0,4.0,Fisherman's Wharf,"Fast Food, Burgers",100.0,"Casual, Classy",0.0,1.0,0.0,...,0,0,0,0,1,0,0,1,0,0
797,Balompie Cafe No 3,2.0,4.0,Bernal Heights,"Seafood, Salvadoran",71.0,Casual,0.0,1.0,0.0,...,0,0,1,0,0,0,1,0,0,0
798,Chicken as Cluck,0.0,4.0,Potrero Hill,"Chicken Shop, Food Delivery Services, Caterers",0.0,,0.0,1.0,0.0,...,0,1,0,0,0,1,0,0,0,0
799,Alexander’s Steakhouse,4.0,4.0,Mission Bay,"Steakhouses, Seafood, American (New)",92.0,"Classy, Upscale",1.0,0.0,0.0,...,0,0,0,1,0,0,1,0,0,0

In [155]:
condensed_df = pd.DataFrame({'price': concat_rest_df['price'], 'stars': concat_rest_df['stars'], 'health_score': concat_rest_df['health_score']})
# con_df = pd.concat([condensed_df, cuisines_dummies], axis=1)
# con_df

example_df = pd.concat([cuisines_dummies, condensed_df, ambience_dummies], axis=1)
example_df

,Acai Bowls,Afghan,American (New),American (Traditional),Arabian,Arcades,Argentine,Armenian,Asian Fusion,Austrian,...,,Casual,Classy,Divey,Hipster,Intimate,Romantic,Touristy,Trendy,Upscale
0,0,0,1,0,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
2,0,0,0,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,1,0
4,0,0,0,0,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
796,0,0,0,0,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,0
797,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
798,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
799,0,0,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1

In [156]:
from sklearn.metrics.pairwise import cosine_similarity

cos_sim = cosine_similarity(example_df, example_df)
cos_sim

array([[1.        , 0.99963308, 0.99966986, ..., 0.99952914, 0.04013821,
        0.99947685],
       [0.99963308, 1.        , 0.99966417, ..., 0.99951803, 0.03883312,
        0.99947054],
       [0.99966986, 0.99966417, 1.        , ..., 0.99954615, 0.0451349 ,
        0.99962926],
       ...,
       [0.99952914, 0.99951803, 0.99954615, ..., 1.        , 0.0502757 ,
        0.99936314],
       [0.04013821, 0.03883312, 0.0451349 , ..., 0.0502757 , 1.        ,
        0.03880342],
       [0.99947685, 0.99947054, 0.99962926, ..., 0.99936314, 0.03880342,
        1.        ]])

In [93]:
cos_sim.shape

(800, 800)

In [17]:
def jaccard_similarity(list1, list2):
    intersection = len(set(list1).intersection(list2))
    union = len(set(list1)) + len(set(list2)) - intersection

    return intersection / union

jaccard_similarity(cos_sim1, cos_sim2)

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
  File "/Users/yuewengmak/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 3326, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-17-351d37f17cb0>", line 7, in <module>
    jaccard_similarity(cos_sim1, cos_sim2)
NameError: name 'cos_sim1' is not defined

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/yuewengmak/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 2040, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'NameError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/yuewengmak/opt/anaconda3/lib/python3.7/site-packages/IPython/core/ultratb.py", line 1101, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "/Users/yuewengmak/opt/anaconda3/lib/python3.7/site-packages/IPython/core/ultratb.py", line 319, in wrapped
    return f(*args, **kwargs)
  File "/Users/yuewengmak/opt/anaconda3/lib/python3.7/site-packages/IPython/core/ultratb.py", line 353, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "/Users/yuewengmak/opt/anaconda3/lib/python3.7/inspect.py", line 1502, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "/Users/yuewengmak/opt/anaconda3/lib/python3.7/inspect.py", line 1460, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "/Users/yuewengmak/opt/anaconda3/lib/python3.7/inspect.py", line 696, in getsourcefile
    if getattr(getmodule(object, filename), '__loader__', None) is not None:
  File "/Users/yuewengmak/opt/anaconda3/lib/python3.7/inspect.py", line 742, in getmodule
    os.path.realpath(f)] = module.__name__
AttributeError: module has no attribute '__name__'

NameError: name 'cos_sim1' is not defined

In [157]:
# Try with Marufuku Ramen SF

# for idx, titles in filtered_restaurants_df.items():
#     for title in titles:
title = 'Marufuku Ramen SF'
print("Restaurant: {}".format(title))

index = filtered_restaurants_df[filtered_restaurants_df['title'] == title].index
compare_sim = cos_sim[index]
# print(compare_sim)

sim = {}
# iterate each row of cosine similarity matrix and compute the distance
for idx, row in enumerate(cos_sim):
#     print(row)
    if index != idx:
        sim[idx] = cosine_similarity(compare_sim.reshape(1, -1), row.reshape(1, -1))[0][0].astype(float)

sort_values = sorted(sim.items(), key=lambda kv: kv[1], reverse=True)
top_n = sort_values[:20]

print("Recommendations")
for row, value in top_n:
#     print(value)
    print(filtered_restaurants_df.iloc[row]['title'])

print("-------------------")

Restaurant: Marufuku Ramen SF
Recommendations
Beit Rima
Barnzu
Tuba Authentic Turkish Restaurant
Hollywood Cafe
Champa Garden
Le Soleil
JIJIME
Pearl 6101
Lokma
Wooden Spoon
The American Grilled Cheese Kitchen
Dottie’s True Blue Cafe
Nara Restaurant & Sake Bar
Orenchi Beyond
RM 212
Akira Japanese Restaurant
Fumi Japanese Curry & Ramen
Pink Onion
Kitava
Jannah
-------------------

In [19]:
l1, l2 = [0,1], [1,1]
cosine_similarity([l1], [l2])

array([[0.70710678]])

In [20]:
reviews_df = pd.read_csv('data/reviews.csv', encoding='utf-8', engine='python')
reviews_df

,Unnamed: 0,userid,restaurant_id,review,date,stars,Useful,Funny,Cool
0,0,HhviuVbs2O9HicrR8J53ug,5e4da0fa3296483cf9246cdd,this place is the best!!No matter which item I...,2/4/2020,5.0,0.0,0.0,1.0
1,1,0nRiYn9sxe48jsJigPLYoA,5e4da0fa3296483cf9246cdd,"In town for a brief visit, this was the closes...",12/24/2019,3.0,0.0,0.0,0.0
2,2,wN_4sCk1dyzWvA9snDP-BA,5e4da0fa3296483cf9246cdd,Second time here. Atmosphere was great to sta...,12/21/2019,2.0,0.0,0.0,0.0
3,3,MUwPT6c_4bh6aMmyo_JTog,5e4da0fa3296483cf9246cdd,Came here to meet an old friend and had a very...,NaN,2.0,2.0,2.0,2.0
4,4,HCTZ0HdNMn4WuyDkxshCDg,5e4da0fa3296483cf9246cdd,Came here for a late lunch/early dinner on our...,2/17/2020,5.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...
199590,199569,iwaBpxdabHX9Bh4MHDQcnA,5e4e31173296483cf9246d5c,My boss was given a gift card and decided to t...,6/10/2009,5.0,0.0,0.0,1.0
199591,199570,jHmlmozty9ifc9qjkuHsoA,5e4e31173296483cf9246d5c,Came here with visiting friends at the end of ...,7/18/2009,4.0,0.0,0.0,1.0
199592,199571,UNweIyUVO3Ln9SDPsCAXlA,5e4e31173296483cf9246d5c,** Happy Hour Review Only **I walked in on Wed...,1/1/2010,3.0,0.0,1.0,0.0
199593,199572,9vABmjoaSliTpDjsxvYc_A,5e4e31173296483cf9246d5c,The Happy Hour made me very happy. All of the...,3/31/2013,5.0,0.0,0.0,0.0
199594,199573,4QKOO2MtsPuL_-wMTjKsLg,5e4e31173296483cf9246d5c,we had an absolutely awesome time! everyone wa...,3/17/2014,5.0,0.0,0.0,1.0

In [21]:
ratings_df = pd.DataFrame({'userid': reviews_df['userid'], 'restaurant_id': reviews_df['restaurant_id'], 'stars': reviews_df['stars']})
ratings_df

                        userid             restaurant_id  stars
0       HhviuVbs2O9HicrR8J53ug  5e4da0fa3296483cf9246cdd    5.0
1       0nRiYn9sxe48jsJigPLYoA  5e4da0fa3296483cf9246cdd    3.0
2       wN_4sCk1dyzWvA9snDP-BA  5e4da0fa3296483cf9246cdd    2.0
3       MUwPT6c_4bh6aMmyo_JTog  5e4da0fa3296483cf9246cdd    2.0
4       HCTZ0HdNMn4WuyDkxshCDg  5e4da0fa3296483cf9246cdd    5.0
...                        ...                       ...    ...
199590  iwaBpxdabHX9Bh4MHDQcnA  5e4e31173296483cf9246d5c    5.0
199591  jHmlmozty9ifc9qjkuHsoA  5e4e31173296483cf9246d5c    4.0
199592  UNweIyUVO3Ln9SDPsCAXlA  5e4e31173296483cf9246d5c    3.0
199593  9vABmjoaSliTpDjsxvYc_A  5e4e31173296483cf9246d5c    5.0
199594  4QKOO2MtsPuL_-wMTjKsLg  5e4e31173296483cf9246d5c    5.0

[199595 rows x 3 columns]

In [22]:
restaurants_name_df = pd.DataFrame({'id': restaurants_df['_id'], 'title': restaurants_df['title']})
restaurants_name_df

                           id                   title
0    5e4da0fa3296483cf9246cdd          Atlas Tap Room
1    5e4da15f3296483cf9246cde   Fog Harbor Fish House
2    5e4da21d3296483cf9246cdf               The House
3    5e4da2bc3296483cf9246ce0       Marufuku Ramen SF
4    5e4da37a3296483cf9246ce1                   Zazie
..                        ...                     ...
795  5e557bff3296483cf9247068       Tonton Restaurant
796  5e557d4b3296483cf924706a         In-N-Out Burger
797  5e557e2f3296483cf924706b      Balompie Cafe No 3
798  5e55805a3296483cf924706c        Chicken as Cluck
799  5e5581203296483cf924706d  Alexander’s Steakhouse

[800 rows x 2 columns]

In [23]:
users_df = pd.read_csv('data/users.csv')
users_df

,Unnamed: 0,userid,name,url,city,state,friends,reviews,photos
0,0,HhviuVbs2O9HicrR8J53ug,Jessica P.,https://www.yelp.com/user_details?userid=Hhviu...,Vallejo,CA,189,16,33.0
1,1,0nRiYn9sxe48jsJigPLYoA,Anissa B.,https://www.yelp.com/user_details?userid=0nRiY...,San Bernardino,CA,420,34,NaN
2,2,wN_4sCk1dyzWvA9snDP-BA,Tyler D.,https://www.yelp.com/user_details?userid=wN_4s...,Atlanta,GA,0,7,NaN
3,3,MUwPT6c_4bh6aMmyo_JTog,Nick M.,https://www.yelp.com/user_details?userid=MUwPT...,Dallas,TX,334,219,519.0
4,4,HCTZ0HdNMn4WuyDkxshCDg,Christina L.,https://www.yelp.com/user_details?userid=HCTZ0...,Vacaville,CA,2,10,5.0
...,...,...,...,...,...,...,...,...,...
126617,199567,DywjTlbCTkpAM_K_Suhngg,Jael J.,https://www.yelp.com/user_details?userid=DywjT...,Portland,OR,65,69,20.0
126618,199568,Cbw1IKmtlycJeZgxLImcUQ,Fuzzysaurus L.,https://www.yelp.com/user_details?userid=Cbw1I...,San Carlos,CA,189,130,2.0
126619,199570,jHmlmozty9ifc9qjkuHsoA,yolanda y.,https://www.yelp.com/user_details?userid=jHmlm...,San Bruno,CA,7,80,NaN
126620,199572,9vABmjoaSliTpDjsxvYc_A,Renee H.,https://www.yelp.com/user_details?userid=9vABm...,New Orleans,LA,122,2,NaN
126621,199573,4QKOO2MtsPuL_-wMTjKsLg,Carolyn P.,https://www.yelp.com/user_details?userid=4QKOO...,San Francisco,CA,7,29,4.0

In [24]:
users_name_df = pd.DataFrame({'userid': users_df['userid'], 'name': users_df['name']})
users_name_df

                        userid            name
0       HhviuVbs2O9HicrR8J53ug      Jessica P.
1       0nRiYn9sxe48jsJigPLYoA       Anissa B.
2       wN_4sCk1dyzWvA9snDP-BA        Tyler D.
3       MUwPT6c_4bh6aMmyo_JTog         Nick M.
4       HCTZ0HdNMn4WuyDkxshCDg    Christina L.
...                        ...             ...
126617  DywjTlbCTkpAM_K_Suhngg         Jael J.
126618  Cbw1IKmtlycJeZgxLImcUQ  Fuzzysaurus L.
126619  jHmlmozty9ifc9qjkuHsoA      yolanda y.
126620  9vABmjoaSliTpDjsxvYc_A        Renee H.
126621  4QKOO2MtsPuL_-wMTjKsLg      Carolyn P.

[126622 rows x 2 columns]

In [25]:
combine_df = ratings_df.merge(restaurants_name_df, left_on='restaurant_id', right_on='id')
combine_df = combine_df.merge(users_name_df, left_on='userid', right_on='userid')
combine_df.drop(columns=['id'], inplace=True)

In [26]:
ratings_matrix = combine_df.pivot_table(index='userid', columns='title', values='stars').fillna(0)

In [27]:
ratings_matrix

title,Alegrias,Anchor Oyster Bar,Atlas Tap Room,Bacco,Barcha,Barrel Head Brewhouse,Beit Rima,Beretta,Berliner Berliner,Blackwood,...,Tuba Authentic Turkish Restaurant,Wayfare Tavern,Wei Guo House,Wildseed,Willkommen,Wooden Spoon,Woodhouse Fish,Woodhouse Fish Company,Zazie,um.ma
userid,,,,,,,,,,,,,,,,,,,,,
---GHZPx3m1VL-tyE9vIXQ,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
---K-BgQLNMxUHn1v4R9uQ,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
--1WBCoOGNo6WqOz1JQMeg,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
--1foT5I-DzKUN58fTr83Q,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
--1zeqO8eQ1o33z0vS31Og,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zzl32o6i1Zfands2ebJ9WA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
zzl9rIfX6qG5ntFuHaLJrg,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
zznOF_-TAaCRw1lRVQ9GzQ,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
zzo--VpSQh8PpsGVeMC1dQ,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
zzq6Nhcq0JMbm7ExFFCP2A,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [158]:
sub_ratings_matrix = ratings_matrix[:30000]
sub_ratings_matrix

title,Alegrias,Anchor Oyster Bar,Atlas Tap Room,Bacco,Barcha,Barrel Head Brewhouse,Beit Rima,Beretta,Berliner Berliner,Blackwood,...,Tuba Authentic Turkish Restaurant,Wayfare Tavern,Wei Guo House,Wildseed,Willkommen,Wooden Spoon,Woodhouse Fish,Woodhouse Fish Company,Zazie,um.ma
userid,,,,,,,,,,,,,,,,,,,,,
---GHZPx3m1VL-tyE9vIXQ,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
---K-BgQLNMxUHn1v4R9uQ,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
--1WBCoOGNo6WqOz1JQMeg,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
--1foT5I-DzKUN58fTr83Q,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
--1zeqO8eQ1o33z0vS31Og,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
E9vcuUTc2GeBQw7qBbHFkg,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
E9wS_f7Gh61upKD4A6oeLg,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
E9zQPLNDlU1AhK0bBiex0g,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
EA4ESG3OznMB2uXfh2xDPA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
EA4PcuKqeRw1zI1RZuIO7g,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [159]:
from scipy.sparse.linalg import svds

# print(sub_ratings_matrix.shape[1])

u, s, vt = svds(sub_ratings_matrix, 10)

In [160]:
import numpy as np

sigma = np.diag(s)

In [161]:
predictions = u @ sigma @ vt
index = predictions[0].argsort()[-10:][::-1]


for ind in index:
    print(sub_ratings_matrix.columns.to_list()[ind])

Zazie
Nopa
San Tung
The House
Hog Island Oyster Co
Kitchen Story
Fog Harbor Fish House
Kokkari Estiatorio
State Bird Provisions
Liholiho Yacht Club